In [1]:
import pandas as pd

## 1 Extração dos dados

#1.1 Produção de 2007 até 2021

In [2]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2007&opcao=opt_02')
producao2007 = leitura[5]
producao2007.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     275.287.908
1                           Tinto     228.156.220
2                          Branco      42.118.552
3                          Rosado       5.013.136
4  VINHO FINO DE MESA (VINÃFERA)      43.176.484

In [3]:
producao2007 = producao2007.rename(columns={"Quantidade (L.)" : "2007"})
producao2007.head()

                          Produto         2007
0                   VINHO DE MESA  275.287.908
1                           Tinto  228.156.220
2                          Branco   42.118.552
3                          Rosado    5.013.136
4  VINHO FINO DE MESA (VINÃFERA)   43.176.484

In [4]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2008&opcao=opt_02')
producao2008 = leitura[5]
producao2008.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     287.506.811
1                           Tinto     241.057.928
2                          Branco      42.942.053
3                          Rosado       3.506.830
4  VINHO FINO DE MESA (VINÃFERA)      47.334.501

In [5]:
producao2008 = producao2008.rename(columns={"Quantidade (L.)" : "2008"})
producao2008.head()

                          Produto         2008
0                   VINHO DE MESA  287.506.811
1                           Tinto  241.057.928
2                          Branco   42.942.053
3                          Rosado    3.506.830
4  VINHO FINO DE MESA (VINÃFERA)   47.334.501

In [6]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2009&opcao=opt_02')
producao2009 = leitura[5]
producao2009.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     205.418.206
1                           Tinto     164.143.454
2                          Branco      39.211.278
3                          Rosado       2.063.474
4  VINHO FINO DE MESA (VINÃFERA)      39.900.568

In [7]:
producao2009 = producao2009.rename(columns={"Quantidade (L.)" : "2009"})
producao2009.head()

                          Produto         2009
0                   VINHO DE MESA  205.418.206
1                           Tinto  164.143.454
2                          Branco   39.211.278
3                          Rosado    2.063.474
4  VINHO FINO DE MESA (VINÃFERA)   39.900.568

In [8]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2010&opcao=opt_02')
producao2010 = leitura[5]
producao2010.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     195.267.980
1                           Tinto     157.290.088
2                          Branco      35.408.083
3                          Rosado       2.569.809
4  VINHO FINO DE MESA (VINÃFERA)      24.805.713

In [9]:
producao2010 = producao2010.rename(columns={"Quantidade (L.)" : "2010"})
producao2010.head()

                          Produto         2010
0                   VINHO DE MESA  195.267.980
1                           Tinto  157.290.088
2                          Branco   35.408.083
3                          Rosado    2.569.809
4  VINHO FINO DE MESA (VINÃFERA)   24.805.713

In [10]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2011&opcao=opt_02')
producao2011 = leitura[5]
producao2011.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     257.840.749
1                           Tinto     210.113.358
2                          Branco      46.007.504
3                          Rosado       1.719.887
4  VINHO FINO DE MESA (VINÃFERA)      47.598.471

In [11]:
producao2011 = producao2011.rename(columns={"Quantidade (L.)" : "2011"})
producao2011.head()

                          Produto         2011
0                   VINHO DE MESA  257.840.749
1                           Tinto  210.113.358
2                          Branco   46.007.504
3                          Rosado    1.719.887
4  VINHO FINO DE MESA (VINÃFERA)   47.598.471

In [12]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2012&opcao=opt_02')
producao2012 = leitura[5]
producao2012.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     212.777.037
1                           Tinto     175.875.432
2                          Branco      34.938.249
3                          Rosado       1.963.356
4  VINHO FINO DE MESA (VINÃFERA)      45.200.730

In [13]:
producao2012 = producao2012.rename(columns={"Quantidade (L.)" : "2012"})
producao2012.head()

                          Produto         2012
0                   VINHO DE MESA  212.777.037
1                           Tinto  175.875.432
2                          Branco   34.938.249
3                          Rosado    1.963.356
4  VINHO FINO DE MESA (VINÃFERA)   45.200.730

In [14]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2013&opcao=opt_02')
producao2013 = leitura[5]
producao2013.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     196.904.222
1                           Tinto     163.111.797
2                          Branco      32.066.403
3                          Rosado       1.726.022
4  VINHO FINO DE MESA (VINÃFERA)      45.782.530

In [15]:
producao2013 = producao2013.rename(columns={"Quantidade (L.)" : "2013"})
producao2013.head()

                          Produto         2013
0                   VINHO DE MESA  196.904.222
1                           Tinto  163.111.797
2                          Branco   32.066.403
3                          Rosado    1.726.022
4  VINHO FINO DE MESA (VINÃFERA)   45.782.530

In [16]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2014&opcao=opt_02')
producao2014 = leitura[5]
producao2014.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     196.173.123
1                           Tinto     157.776.363
2                          Branco      37.438.069
3                          Rosado         958.691
4  VINHO FINO DE MESA (VINÃFERA)      38.464.314

In [17]:
producao2014 = producao2014.rename(columns={"Quantidade (L.)" : "2014"})
producao2014.head()

                          Produto         2014
0                   VINHO DE MESA  196.173.123
1                           Tinto  157.776.363
2                          Branco   37.438.069
3                          Rosado      958.691
4  VINHO FINO DE MESA (VINÃFERA)   38.464.314

In [18]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2015&opcao=opt_02')
producao2015 = leitura[5]
producao2015.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     210.308.560
1                           Tinto     169.811.472
2                          Branco      39.557.250
3                          Rosado         939.838
4  VINHO FINO DE MESA (VINÃFERA)      37.148.982

In [19]:
producao2015 = producao2015.rename(columns={"Quantidade (L.)" : "2015"})
producao2015.head()

                          Produto         2015
0                   VINHO DE MESA  210.308.560
1                           Tinto  169.811.472
2                          Branco   39.557.250
3                          Rosado      939.838
4  VINHO FINO DE MESA (VINÃFERA)   37.148.982

In [20]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2016&opcao=opt_02')
producao2016 = leitura[5]
producao2016.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA      86.319.015
1                           Tinto      75.279.191
2                          Branco      10.727.099
3                          Rosado         312.725
4  VINHO FINO DE MESA (VINÃFERA)      18.070.626

In [21]:
producao2016 = producao2016.rename(columns={"Quantidade (L.)" : "2016"})
producao2016.head()

                          Produto        2016
0                   VINHO DE MESA  86.319.015
1                           Tinto  75.279.191
2                          Branco  10.727.099
3                          Rosado     312.725
4  VINHO FINO DE MESA (VINÃFERA)  18.070.626

In [22]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2017&opcao=opt_02')
producao2017 = leitura[5]
producao2017.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     255.015.187
1                           Tinto       1.365.957
2                          Branco     217.527.985
3                          Rosado      36.121.245
4  VINHO FINO DE MESA (VINÃFERA)      44.537.870

In [23]:
producao2017 = producao2017.rename(columns={"Quantidade (L.)" : "2017"})
producao2017.head()

                          Produto         2017
0                   VINHO DE MESA  255.015.187
1                           Tinto    1.365.957
2                          Branco  217.527.985
3                          Rosado   36.121.245
4  VINHO FINO DE MESA (VINÃFERA)   44.537.870

In [24]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2018&opcao=opt_02')
producao2018 = leitura[5]
producao2018.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     218.375.636
1                           Tinto     188.270.142
2                          Branco      29.229.970
3                          Rosado         875.524
4  VINHO FINO DE MESA (VINÃFERA)      38.707.220

In [25]:
producao2018 = producao2018.rename(columns={"Quantidade (L.)" : "2018"})
producao2018.head()

                          Produto         2018
0                   VINHO DE MESA  218.375.636
1                           Tinto  188.270.142
2                          Branco   29.229.970
3                          Rosado      875.524
4  VINHO FINO DE MESA (VINÃFERA)   38.707.220

In [26]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2019&opcao=opt_02')
producao2019 = leitura[5]
producao2019.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     144.629.737
1                           Tinto     121.045.115
2                          Branco      22.032.828
3                          Rosado       1.551.794
4  VINHO FINO DE MESA (VINÃFERA)      37.615.422

In [27]:
producao2019 = producao2019.rename(columns={"Quantidade (L.)" : "2019"})
producao2019.head()

                          Produto         2019
0                   VINHO DE MESA  144.629.737
1                           Tinto  121.045.115
2                          Branco   22.032.828
3                          Rosado    1.551.794
4  VINHO FINO DE MESA (VINÃFERA)   37.615.422

In [28]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2020&opcao=opt_02')
producao2020 = leitura[5]
producao2020.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     124.200.414
1                           Tinto     103.916.391
2                          Branco      19.568.734
3                          Rosado         715.289
4  VINHO FINO DE MESA (VINÃFERA)      32.516.686

In [29]:
producao2020 = producao2020.rename(columns={"Quantidade (L.)" : "2020"})
producao2020.head()

                          Produto         2020
0                   VINHO DE MESA  124.200.414
1                           Tinto  103.916.391
2                          Branco   19.568.734
3                          Rosado      715.289
4  VINHO FINO DE MESA (VINÃFERA)   32.516.686

In [30]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2021&opcao=opt_02')
producao2021 = leitura[5]
producao2021.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     173.899.995
1                           Tinto     146.075.996
2                          Branco      26.432.799
3                          Rosado       1.391.200
4  VINHO FINO DE MESA (VINÃFERA)      43.474.998

In [31]:
producao2021 = producao2021.rename(columns={"Quantidade (L.)" : "2021"})
producao2021.head()

                          Produto         2021
0                   VINHO DE MESA  173.899.995
1                           Tinto  146.075.996
2                          Branco   26.432.799
3                          Rosado    1.391.200
4  VINHO FINO DE MESA (VINÃFERA)   43.474.998

In [32]:
producao_total = pd.concat([producao2007, producao2008, producao2009, producao2010, producao2011, producao2012, producao2013,
                            producao2014, producao2015, producao2016, producao2017, producao2018, producao2019, producao2020, producao2021], axis=1)
producao_total.head()

,Produto,2007,Produto,2008,Produto,2009,Produto,2010,Produto,2011,...,Produto,2017,Produto,2018,Produto,2019,Produto,2020,Produto,2021
0,VINHO DE MESA,275.287.908,VINHO DE MESA,287.506.811,VINHO DE MESA,205.418.206,VINHO DE MESA,195.267.980,VINHO DE MESA,257.840.749,...,VINHO DE MESA,255.015.187,VINHO DE MESA,218.375.636,VINHO DE MESA,144.629.737,VINHO DE MESA,124.200.414,VINHO DE MESA,173.899.995
1,Tinto,228.156.220,Tinto,241.057.928,Tinto,164.143.454,Tinto,157.290.088,Tinto,210.113.358,...,Tinto,1.365.957,Tinto,188.270.142,Tinto,121.045.115,Tinto,103.916.391,Tinto,146.075.996
2,Branco,42.118.552,Branco,42.942.053,Branco,39.211.278,Branco,35.408.083,Branco,46.007.504,...,Branco,217.527.985,Branco,29.229.970,Branco,22.032.828,Branco,19.568.734,Branco,26.432.799
3,Rosado,5.013.136,Rosado,3.506.830,Rosado,2.063.474,Rosado,2.569.809,Rosado,1.719.887,...,Rosado,36.121.245,Rosado,875.524,Rosado,1.551.794,Rosado,715.289,Rosado,1.391.200
4,VINHO FINO DE MESA (VINÃFERA),43.176.484,VINHO FINO DE MESA (VINÃFERA),47.334.501,VINHO FINO DE MESA (VINÃFERA),39.900.568,VINHO FINO DE MESA (VINÃFERA),24.805.713,VINHO FINO DE MESA (VINÃFERA),47.598.471,...,VINHO FINO DE MESA (VINÃFERA),44.537.870,VINHO FINO DE MESA (VINÃFERA),38.707.220,VINHO FINO DE MESA (VINÃFERA),37.615.422,VINHO FINO DE MESA (VINÃFERA),32.516.686,VINHO FINO DE MESA (VINÃFERA),43.474.998

In [33]:
colunas_sel = ["Produto", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021"]
producao_total = producao_total.loc[:, colunas_sel]
producao_total.head()

,Produto,Produto,Produto,Produto,Produto,Produto,Produto,Produto,Produto,Produto,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,VINHO DE MESA,VINHO DE MESA,VINHO DE MESA,VINHO DE MESA,VINHO DE MESA,VINHO DE MESA,VINHO DE MESA,VINHO DE MESA,VINHO DE MESA,VINHO DE MESA,...,212.777.037,196.904.222,196.173.123,210.308.560,86.319.015,255.015.187,218.375.636,144.629.737,124.200.414,173.899.995
1,Tinto,Tinto,Tinto,Tinto,Tinto,Tinto,Tinto,Tinto,Tinto,Tinto,...,175.875.432,163.111.797,157.776.363,169.811.472,75.279.191,1.365.957,188.270.142,121.045.115,103.916.391,146.075.996
2,Branco,Branco,Branco,Branco,Branco,Branco,Branco,Branco,Branco,Branco,...,34.938.249,32.066.403,37.438.069,39.557.250,10.727.099,217.527.985,29.229.970,22.032.828,19.568.734,26.432.799
3,Rosado,Rosado,Rosado,Rosado,Rosado,Rosado,Rosado,Rosado,Rosado,Rosado,...,1.963.356,1.726.022,958.691,939.838,312.725,36.121.245,875.524,1.551.794,715.289,1.391.200
4,VINHO FINO DE MESA (VINÃFERA),VINHO FINO DE MESA (VINÃFERA),VINHO FINO DE MESA (VINÃFERA),VINHO FINO DE MESA (VINÃFERA),VINHO FINO DE MESA (VINÃFERA),VINHO FINO DE MESA (VINÃFERA),VINHO FINO DE MESA (VINÃFERA),VINHO FINO DE MESA (VINÃFERA),VINHO FINO DE MESA (VINÃFERA),VINHO FINO DE MESA (VINÃFERA),...,45.200.730,45.782.530,38.464.314,37.148.982,18.070.626,44.537.870,38.707.220,37.615.422,32.516.686,43.474.998

In [34]:
producao_total = producao_total.iloc[:, 14:]
producao_total.head()

,Produto,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,VINHO DE MESA,275.287.908,287.506.811,205.418.206,195.267.980,257.840.749,212.777.037,196.904.222,196.173.123,210.308.560,86.319.015,255.015.187,218.375.636,144.629.737,124.200.414,173.899.995
1,Tinto,228.156.220,241.057.928,164.143.454,157.290.088,210.113.358,175.875.432,163.111.797,157.776.363,169.811.472,75.279.191,1.365.957,188.270.142,121.045.115,103.916.391,146.075.996
2,Branco,42.118.552,42.942.053,39.211.278,35.408.083,46.007.504,34.938.249,32.066.403,37.438.069,39.557.250,10.727.099,217.527.985,29.229.970,22.032.828,19.568.734,26.432.799
3,Rosado,5.013.136,3.506.830,2.063.474,2.569.809,1.719.887,1.963.356,1.726.022,958.691,939.838,312.725,36.121.245,875.524,1.551.794,715.289,1.391.200
4,VINHO FINO DE MESA (VINÃFERA),43.176.484,47.334.501,39.900.568,24.805.713,47.598.471,45.200.730,45.782.530,38.464.314,37.148.982,18.070.626,44.537.870,38.707.220,37.615.422,32.516.686,43.474.998

In [35]:
producao_total = producao_total.set_index(producao_total.columns[0])

index_column = producao_total.index.name
print(index_column)

Produto

In [36]:
producao_total.to_excel('producao_total.xlsx', index=False)

# 1.2 exportação de Vinho de 2007 até 2021

In [37]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2007&opcao=opt_06&subopcao=subopt_01')
exportacao2007 = leitura[5]
exportacao2007.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica         119.512     238.052
3                             Angola          25.931      49.753
4                           Anguilla               -           -

In [38]:
exportacao2007 = exportacao2007.rename(columns={"Quantidade (Kg)" : "2007 (Ltr)", "Valor (US$)" : "2007 Valor (USD)"})
exportacao2007.head()

                             PaÃ­ses 2007 (Ltr) 2007 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica    119.512          238.052
3                             Angola     25.931           49.753
4                           Anguilla          -                -

In [39]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2008&opcao=opt_06&subopcao=subopt_01')
exportacao2008 = leitura[5]
exportacao2008.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica         265.742     429.970
3                             Angola          25.721      71.083
4                           Anguilla               -           -

In [40]:
exportacao2008 = exportacao2008.rename(columns={"Quantidade (Kg)" : "2008 (Ltr)", "Valor (US$)" : "2008 Valor (USD)"})
exportacao2008.head()

                             PaÃ­ses 2008 (Ltr) 2008 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica    265.742          429.970
3                             Angola     25.721           71.083
4                           Anguilla          -                -

In [41]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2009&opcao=opt_06&subopcao=subopt_01')
exportacao2009 = leitura[5]
exportacao2009.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica         225.086     393.482
3                             Angola          54.786      84.235
4                           Anguilla               -           -

In [42]:
exportacao2009 = exportacao2009.rename(columns={"Quantidade (Kg)" : "2009 (Ltr)", "Valor (US$)" : "2009 Valor (USD)"})
exportacao2009.head()

                             PaÃ­ses 2009 (Ltr) 2009 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica    225.086          393.482
3                             Angola     54.786           84.235
4                           Anguilla          -                -

In [43]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2010&opcao=opt_06&subopcao=subopt_01')
exportacao2010 = leitura[5]
exportacao2010.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica          27.715     138.666
3                             Angola          33.557     189.891
4                           Anguilla               -           -

In [44]:
exportacao2010 = exportacao2010.rename(columns={"Quantidade (Kg)" : "2010 (Ltr)", "Valor (US$)" : "2010 Valor (USD)"})
exportacao2010.head()

                             PaÃ­ses 2010 (Ltr) 2010 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica     27.715          138.666
3                             Angola     33.557          189.891
4                           Anguilla          -                -

In [45]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2011&opcao=opt_06&subopcao=subopt_01')
exportacao2011 = leitura[5]
exportacao2011.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica          36.070     144.150
3                             Angola          13.889      69.001
4                           Anguilla               -           -

In [46]:
exportacao2011 = exportacao2011.rename(columns={"Quantidade (Kg)" : "2011 (Ltr)", "Valor (US$)" : "2011 Valor (USD)"})
exportacao2011.head()

                             PaÃ­ses 2011 (Ltr) 2011 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica     36.070          144.150
3                             Angola     13.889           69.001
4                           Anguilla          -                -

In [47]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2012&opcao=opt_06&subopcao=subopt_01')
exportacao2012 = leitura[5]
exportacao2012.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica           8.189      56.342
3                             Angola           2.833       8.861
4                           Anguilla               -           -

In [48]:
exportacao2012 = exportacao2012.rename(columns={"Quantidade (Kg)" : "2012 (Ltr)", "Valor (US$)" : "2012 Valor (USD)"})
exportacao2012.head()

                             PaÃ­ses 2012 (Ltr) 2012 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica      8.189           56.342
3                             Angola      2.833            8.861
4                           Anguilla          -                -

In [49]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2013&opcao=opt_06&subopcao=subopt_01')
exportacao2013 = leitura[5]
exportacao2013.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica          61.699     265.978
3                             Angola           1.573       9.300
4                           Anguilla               -           -

In [50]:
exportacao2013 = exportacao2013.rename(columns={"Quantidade (Kg)" : "2013 (Ltr)", "Valor (US$)" : "2013 Valor (USD)"})
exportacao2013.head()

                             PaÃ­ses 2013 (Ltr) 2013 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica     61.699          265.978
3                             Angola      1.573            9.300
4                           Anguilla          -                -

In [51]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2014&opcao=opt_06&subopcao=subopt_01')
exportacao2014 = leitura[5]
exportacao2014.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica         213.348     761.653
3                             Angola          12.182      23.124
4                           Anguilla               -           -

In [52]:
exportacao2014 = exportacao2014.rename(columns={"Quantidade (Kg)" : "2014 (Ltr)", "Valor (US$)" : "2014 Valor (USD)"})
exportacao2014.head()

                             PaÃ­ses 2014 (Ltr) 2014 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica    213.348          761.653
3                             Angola     12.182           23.124
4                           Anguilla          -                -

In [53]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2015&opcao=opt_06&subopcao=subopt_01')
exportacao2015 = leitura[5]
exportacao2015.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica          10.680      44.780
3                             Angola           1.908      17.089
4                           Anguilla               -           -

In [54]:
exportacao2015 = exportacao2015.rename(columns={"Quantidade (Kg)" : "2015 (Ltr)", "Valor (US$)" : "2015 Valor (USD)"})
exportacao2015.head()

                             PaÃ­ses 2015 (Ltr) 2015 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica     10.680           44.780
3                             Angola      1.908           17.089
4                           Anguilla          -                -

In [55]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2016&opcao=opt_06&subopcao=subopt_01')
exportacao2016 = leitura[5]
exportacao2016.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica          14.012      68.109
3                             Angola           7.359      35.390
4                           Anguilla               -           -

In [56]:
exportacao2016 = exportacao2016.rename(columns={"Quantidade (Kg)" : "2016 (Ltr)", "Valor (US$)" : "2016 Valor (USD)"})
exportacao2016.head()

                             PaÃ­ses 2016 (Ltr) 2016 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica     14.012           68.109
3                             Angola      7.359           35.390
4                           Anguilla          -                -

In [57]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2017&opcao=opt_06&subopcao=subopt_01')
exportacao2017 = leitura[5]
exportacao2017.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica          15.467      87.702
3                             Angola          10.170      61.680
4                           Anguilla               -           -

In [58]:
exportacao2017 = exportacao2017.rename(columns={"Quantidade (Kg)" : "2017 (Ltr)", "Valor (US$)" : "2017 Valor (USD)"})
exportacao2017.head()

                             PaÃ­ses 2017 (Ltr) 2017 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica     15.467           87.702
3                             Angola     10.170           61.680
4                           Anguilla          -                -

In [59]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2018&opcao=opt_06&subopcao=subopt_01')
exportacao2018 = leitura[5]
exportacao2018.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica          10.794      45.382
3                             Angola             477         709
4                           Anguilla               -           -

In [60]:
exportacao2018 = exportacao2018.rename(columns={"Quantidade (Kg)" : "2018 (Ltr)", "Valor (US$)" : "2018 Valor (USD)"})
exportacao2018.head()

                             PaÃ­ses 2018 (Ltr) 2018 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica     10.794           45.382
3                             Angola        477              709
4                           Anguilla          -                -

In [61]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2019&opcao=opt_06&subopcao=subopt_01')
exportacao2019 = leitura[5]
exportacao2019.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul              26          95
2  Alemanha, RepÃºblica DemocrÃ¡tica           3.660      25.467
3                             Angola             345       1.065
4                           Anguilla               -           -

In [62]:
exportacao2019 = exportacao2019.rename(columns={"Quantidade (Kg)" : "2019 (Ltr)", "Valor (US$)" : "2019 Valor (USD)"})
exportacao2019.head()

                             PaÃ­ses 2019 (Ltr) 2019 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul         26               95
2  Alemanha, RepÃºblica DemocrÃ¡tica      3.660           25.467
3                             Angola        345            1.065
4                           Anguilla          -                -

In [63]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2020&opcao=opt_06&subopcao=subopt_01')
exportacao2020 = leitura[5]
exportacao2020.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               4          21
2  Alemanha, RepÃºblica DemocrÃ¡tica           6.261      32.605
3                             Angola               -           -
4                           Anguilla               -           -

In [64]:
exportacao2020 = exportacao2020.rename(columns={"Quantidade (Kg)" : "2020 (Ltr)", "Valor (US$)" : "2020 Valor (USD)"})
exportacao2020.head()

                             PaÃ­ses 2020 (Ltr) 2020 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          4               21
2  Alemanha, RepÃºblica DemocrÃ¡tica      6.261           32.605
3                             Angola          -                -
4                           Anguilla          -                -

In [65]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2021&opcao=opt_06&subopcao=subopt_01')
exportacao2021 = leitura[5]
exportacao2021.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o              11          46
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica           2.698       6.741
3                             Angola               -           -
4                           Anguilla               -           -

In [66]:
exportacao2021 = exportacao2021.rename(columns={"Quantidade (Kg)" : "2021 (Ltr)", "Valor (US$)" : "2021 Valor (USD)"})
exportacao2021.head()

                             PaÃ­ses 2021 (Ltr) 2021 Valor (USD)
0                       AfeganistÃ£o         11               46
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica      2.698            6.741
3                             Angola          -                -
4                           Anguilla          -                -

In [67]:
exportacao_total = pd.concat([exportacao2007, exportacao2008, exportacao2009, exportacao2010, exportacao2011, exportacao2012, exportacao2013,
                            exportacao2014, exportacao2015, exportacao2016, exportacao2017, exportacao2018, exportacao2019, exportacao2020, exportacao2021], axis=1)
exportacao_total.head()

,PaÃ­ses,2007 (Ltr),2007 Valor (USD),PaÃ­ses,2008 (Ltr),2008 Valor (USD),PaÃ­ses,2009 (Ltr),2009 Valor (USD),PaÃ­ses,...,2018 Valor (USD),PaÃ­ses,2019 (Ltr),2019 Valor (USD),PaÃ­ses,2020 (Ltr),2020 Valor (USD),PaÃ­ses,2021 (Ltr),2021 Valor (USD)
0,AfeganistÃ£o,-,-,AfeganistÃ£o,-,-,AfeganistÃ£o,-,-,AfeganistÃ£o,...,-,AfeganistÃ£o,-,-,AfeganistÃ£o,-,-,AfeganistÃ£o,11,46
1,Ãfrica do Sul,-,-,Ãfrica do Sul,-,-,Ãfrica do Sul,-,-,Ãfrica do Sul,...,-,Ãfrica do Sul,26,95,Ãfrica do Sul,4,21,Ãfrica do Sul,-,-
2,"Alemanha, RepÃºblica DemocrÃ¡tica",119.512,238.052,"Alemanha, RepÃºblica DemocrÃ¡tica",265.742,429.970,"Alemanha, RepÃºblica DemocrÃ¡tica",225.086,393.482,"Alemanha, RepÃºblica DemocrÃ¡tica",...,45.382,"Alemanha, RepÃºblica DemocrÃ¡tica",3.660,25.467,"Alemanha, RepÃºblica DemocrÃ¡tica",6.261,32.605,"Alemanha, RepÃºblica DemocrÃ¡tica",2.698,6.741
3,Angola,25.931,49.753,Angola,25.721,71.083,Angola,54.786,84.235,Angola,...,709,Angola,345,1.065,Angola,-,-,Angola,-,-
4,Anguilla,-,-,Anguilla,-,-,Anguilla,-,-,Anguilla,...,-,Anguilla,-,-,Anguilla,-,-,Anguilla,-,-

In [68]:
colunas_selecionadas = ["PaÃ­ses", "2007 (Ltr)",	"2007 Valor (USD)",	"2008 (Ltr)",	"2008 Valor (USD)",	"2009 (Ltr)",	"2009 Valor (USD)",	"2010 (Ltr)",	"2010 Valor (USD)",	"2011 (Ltr)",
                        "2011 Valor (USD)",	"2012 (Ltr)",	"2012 Valor (USD)",	"2013 (Ltr)",	"2013 Valor (USD)",	"2014 (Ltr)",	"2014 Valor (USD)",	"2015 (Ltr)",	"2015 Valor (USD)",
                        "2016 (Ltr)",	"2016 Valor (USD)",	"2017 (Ltr)",	"2017 Valor (USD)",	"2018 (Ltr)",	"2018 Valor (USD)",	"2019 (Ltr)",	"2019 Valor (USD)",	"2020 (Ltr)",
                        "2020 Valor (USD)",	"2021 (Ltr)",	"2021 Valor (USD)"]

exportacao_total = exportacao_total.loc[:, colunas_selecionadas]
exportacao_total.head()

,PaÃ­ses,PaÃ­ses,PaÃ­ses,PaÃ­ses,PaÃ­ses,PaÃ­ses,PaÃ­ses,PaÃ­ses,PaÃ­ses,PaÃ­ses,...,2017 (Ltr),2017 Valor (USD),2018 (Ltr),2018 Valor (USD),2019 (Ltr),2019 Valor (USD),2020 (Ltr),2020 Valor (USD),2021 (Ltr),2021 Valor (USD)
0,AfeganistÃ£o,AfeganistÃ£o,AfeganistÃ£o,AfeganistÃ£o,AfeganistÃ£o,AfeganistÃ£o,AfeganistÃ£o,AfeganistÃ£o,AfeganistÃ£o,AfeganistÃ£o,...,-,-,-,-,-,-,-,-,11,46
1,Ãfrica do Sul,Ãfrica do Sul,Ãfrica do Sul,Ãfrica do Sul,Ãfrica do Sul,Ãfrica do Sul,Ãfrica do Sul,Ãfrica do Sul,Ãfrica do Sul,Ãfrica do Sul,...,-,-,-,-,26,95,4,21,-,-
2,"Alemanha, RepÃºblica DemocrÃ¡tica","Alemanha, RepÃºblica DemocrÃ¡tica","Alemanha, RepÃºblica DemocrÃ¡tica","Alemanha, RepÃºblica DemocrÃ¡tica","Alemanha, RepÃºblica DemocrÃ¡tica","Alemanha, RepÃºblica DemocrÃ¡tica","Alemanha, RepÃºblica DemocrÃ¡tica","Alemanha, RepÃºblica DemocrÃ¡tica","Alemanha, RepÃºblica DemocrÃ¡tica","Alemanha, RepÃºblica DemocrÃ¡tica",...,15.467,87.702,10.794,45.382,3.660,25.467,6.261,32.605,2.698,6.741
3,Angola,Angola,Angola,Angola,Angola,Angola,Angola,Angola,Angola,Angola,...,10.170,61.680,477,709,345,1.065,-,-,-,-
4,Anguilla,Anguilla,Anguilla,Anguilla,Anguilla,Anguilla,Anguilla,Anguilla,Anguilla,Anguilla,...,-,-,-,-,-,-,-,-,-,-

In [69]:
exportacao_total = exportacao_total.iloc[:, 14:]
exportacao_total.head()

,PaÃ­ses,2007 (Ltr),2007 Valor (USD),2008 (Ltr),2008 Valor (USD),2009 (Ltr),2009 Valor (USD),2010 (Ltr),2010 Valor (USD),2011 (Ltr),...,2017 (Ltr),2017 Valor (USD),2018 (Ltr),2018 Valor (USD),2019 (Ltr),2019 Valor (USD),2020 (Ltr),2020 Valor (USD),2021 (Ltr),2021 Valor (USD)
0,AfeganistÃ£o,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,11,46
1,Ãfrica do Sul,-,-,-,-,-,-,-,-,-,...,-,-,-,-,26,95,4,21,-,-
2,"Alemanha, RepÃºblica DemocrÃ¡tica",119.512,238.052,265.742,429.970,225.086,393.482,27.715,138.666,36.070,...,15.467,87.702,10.794,45.382,3.660,25.467,6.261,32.605,2.698,6.741
3,Angola,25.931,49.753,25.721,71.083,54.786,84.235,33.557,189.891,13.889,...,10.170,61.680,477,709,345,1.065,-,-,-,-
4,Anguilla,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [70]:
exportacao_total = exportacao_total.replace("-", 0)
exportacao_total.head()

,PaÃ­ses,2007 (Ltr),2007 Valor (USD),2008 (Ltr),2008 Valor (USD),2009 (Ltr),2009 Valor (USD),2010 (Ltr),2010 Valor (USD),2011 (Ltr),...,2017 (Ltr),2017 Valor (USD),2018 (Ltr),2018 Valor (USD),2019 (Ltr),2019 Valor (USD),2020 (Ltr),2020 Valor (USD),2021 (Ltr),2021 Valor (USD)
0,AfeganistÃ£o,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,46
1,Ãfrica do Sul,0,0,0,0,0,0,0,0,0,...,0,0,0,0,26,95,4,21,0,0
2,"Alemanha, RepÃºblica DemocrÃ¡tica",119.512,238.052,265.742,429.970,225.086,393.482,27.715,138.666,36.070,...,15.467,87.702,10.794,45.382,3.660,25.467,6.261,32.605,2.698,6.741
3,Angola,25.931,49.753,25.721,71.083,54.786,84.235,33.557,189.891,13.889,...,10.170,61.680,477,709,345,1.065,0,0,0,0
4,Anguilla,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
exportacao_total = exportacao_total.set_index(exportacao_total.columns[0])

index_column = exportacao_total.index.name
print(index_column)

PaÃ­ses

In [72]:
import numpy as np

def safe_division(x, y):
    if y != 0:
        return x / y
    else:
        return 0

for year in range(2007, 2021):
    index = ["Paises"]
    valor1_col = f"{year} (Ltr)"
    valor2_col = f"{year} Valor (USD)"
    media_ = f'media_{year}'
    exportacao_total.loc[:, valor1_col] = pd.to_numeric(exportacao_total[valor1_col], errors='coerce')
    exportacao_total.loc[:, valor2_col] = pd.to_numeric(exportacao_total[valor2_col], errors='coerce')
    exportacao_total.loc[:, media_] = exportacao_total.apply(lambda row: safe_division(row[valor2_col], row[valor1_col]), axis=1)

# Reorganizando as colunas na ordem desejada
columns_ordered = []
for year in range(2007, 2021):
    valor1_col = f"{year} (Ltr)"
    valor2_col = f"{year} Valor (USD)"
    media_ = f'media_{year}'
    columns_ordered.extend([valor1_col, valor2_col, media_])

exportacao_total = exportacao_total[columns_ordered]
exportacao_total.fillna(0, inplace=True)


exportacao_total.head()

<ipython-input-72-d64b9d661b76>:14: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor1_col] = pd.to_numeric(exportacao_total[valor1_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor2_col] = pd.to_numeric(exportacao_total[valor2_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:14: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor1_col] = pd.to_numeric(exportacao_total[valor1_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor2_col] = pd.to_numeric(exportacao_total[valor2_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:14: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor1_col] = pd.to_numeric(exportacao_total[valor1_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor2_col] = pd.to_numeric(exportacao_total[valor2_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:14: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor1_col] = pd.to_numeric(exportacao_total[valor1_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor2_col] = pd.to_numeric(exportacao_total[valor2_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:14: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor1_col] = pd.to_numeric(exportacao_total[valor1_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor2_col] = pd.to_numeric(exportacao_total[valor2_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:14: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor1_col] = pd.to_numeric(exportacao_total[valor1_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor2_col] = pd.to_numeric(exportacao_total[valor2_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:14: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor1_col] = pd.to_numeric(exportacao_total[valor1_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor2_col] = pd.to_numeric(exportacao_total[valor2_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:14: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor1_col] = pd.to_numeric(exportacao_total[valor1_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor2_col] = pd.to_numeric(exportacao_total[valor2_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:14: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor1_col] = pd.to_numeric(exportacao_total[valor1_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor2_col] = pd.to_numeric(exportacao_total[valor2_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:14: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor1_col] = pd.to_numeric(exportacao_total[valor1_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor2_col] = pd.to_numeric(exportacao_total[valor2_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:14: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor1_col] = pd.to_numeric(exportacao_total[valor1_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor2_col] = pd.to_numeric(exportacao_total[valor2_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:14: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor1_col] = pd.to_numeric(exportacao_total[valor1_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor2_col] = pd.to_numeric(exportacao_total[valor2_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:14: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor1_col] = pd.to_numeric(exportacao_total[valor1_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor2_col] = pd.to_numeric(exportacao_total[valor2_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:14: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor1_col] = pd.to_numeric(exportacao_total[valor1_col], errors='coerce')
<ipython-input-72-d64b9d661b76>:15: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_total.loc[:, valor2_col] = pd.to_numeric(exportacao_total[valor2_col], errors='coerce')

,2007 (Ltr),2007 Valor (USD),media_2007,2008 (Ltr),2008 Valor (USD),media_2008,2009 (Ltr),2009 Valor (USD),media_2009,2010 (Ltr),...,media_2017,2018 (Ltr),2018 Valor (USD),media_2018,2019 (Ltr),2019 Valor (USD),media_2019,2020 (Ltr),2020 Valor (USD),media_2020
PaÃ­ses,,,,,,,,,,,,,,,,,,,,,
AfeganistÃ£o,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,...,0.000000,0.000,0.000,0.000000,0.00,0.000,0.000000,0.000,0.000,0.000000
Ãfrica do Sul,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,...,0.000000,0.000,0.000,0.000000,26.00,95.000,3.653846,4.000,21.000,5.250000
"Alemanha, RepÃºblica DemocrÃ¡tica",119.512,238.052,1.991867,265.742,429.970,1.617998,225.086,393.482,1.748141,27.715,...,5.670266,10.794,45.382,4.204373,3.66,25.467,6.958197,6.261,32.605,5.207635
Angola,25.931,49.753,1.918669,25.721,71.083,2.763617,54.786,84.235,1.537528,33.557,...,6.064897,477.000,709.000,1.486373,345.00,1.065,0.003087,0.000,0.000,0.000000
Anguilla,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,...,0.000000,0.000,0.000,0.000000,0.00,0.000,0.000000,0.000,0.000,0.000000

In [73]:
exportacao_total.to_excel('exportacao_total.xlsx', index=False)

# 1.3 Exportação espumantes de 2007 até 2021

In [74]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2007&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2007 = leitura[5]
exportacao_esp_2007.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           3.547      10.192
1               Angola           6.293      26.252
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [75]:
exportacao_esp_2007 = exportacao_esp_2007.rename(columns={"Quantidade (Kg)" : "2007 (Ltr)", "Valor (US$)" : "2007 Valor (USD)"})
exportacao_esp_2007.head()

               PaÃ­ses 2007 (Ltr) 2007 Valor (USD)
0             Alemanha      3.547           10.192
1               Angola      6.293           26.252
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [76]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2008&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2008 = leitura[5]
exportacao_esp_2008.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           5.423      20.928
1               Angola           2.244      10.581
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [77]:
exportacao_esp_2008 = exportacao_esp_2008.rename(columns={"Quantidade (Kg)" : "2008 (Ltr)", "Valor (US$)" : "2008 Valor (USD)"})
exportacao_esp_2008.head()

               PaÃ­ses 2008 (Ltr) 2008 Valor (USD)
0             Alemanha      5.423           20.928
1               Angola      2.244           10.581
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [78]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2009&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2009 = leitura[5]
exportacao_esp_2009.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           6.648      29.018
1               Angola          11.393      33.664
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas             180       1.660
4            Argentina               -           -

In [79]:
exportacao_esp_2009 = exportacao_esp_2009.rename(columns={"Quantidade (Kg)" : "2009 (Ltr)", "Valor (US$)" : "2009 Valor (USD)"})
exportacao_esp_2009.head()

               PaÃ­ses 2009 (Ltr) 2009 Valor (USD)
0             Alemanha      6.648           29.018
1               Angola     11.393           33.664
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas        180            1.660
4            Argentina          -                -

In [80]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2010&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2010 = leitura[5]
exportacao_esp_2010.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           1.958       6.877
1               Angola         104.138     672.533
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [81]:
exportacao_esp_2010 = exportacao_esp_2010.rename(columns={"Quantidade (Kg)" : "2010 (Ltr)", "Valor (US$)" : "2010 Valor (USD)"})
exportacao_esp_2010.head()

               PaÃ­ses 2010 (Ltr) 2010 Valor (USD)
0             Alemanha      1.958            6.877
1               Angola    104.138          672.533
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [82]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2011&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2011 = leitura[5]
exportacao_esp_2011.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           1.976      12.018
1               Angola             904      14.196
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas           9.144      65.766
4            Argentina               -           -

In [83]:
exportacao_esp_2011 = exportacao_esp_2011.rename(columns={"Quantidade (Kg)" : "2011 (Ltr)", "Valor (US$)" : "2011 Valor (USD)"})
exportacao_esp_2011.head()

               PaÃ­ses 2011 (Ltr) 2011 Valor (USD)
0             Alemanha      1.976           12.018
1               Angola        904           14.196
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas      9.144           65.766
4            Argentina          -                -

In [84]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2012&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2012 = leitura[5]
exportacao_esp_2012.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha             833       5.072
1               Angola              73       1.426
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [85]:
exportacao_esp_2012 = exportacao_esp_2012.rename(columns={"Quantidade (Kg)" : "2012 (Ltr)", "Valor (US$)" : "2012 Valor (USD)"})
exportacao_esp_2012.head()

               PaÃ­ses 2012 (Ltr) 2012 Valor (USD)
0             Alemanha        833            5.072
1               Angola         73            1.426
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [86]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2013&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2013 = leitura[5]
exportacao_esp_2013.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           5.809      30.461
1               Angola           5.850      21.060
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [87]:
exportacao_esp_2013 = exportacao_esp_2013.rename(columns={"Quantidade (Kg)" : "2013 (Ltr)", "Valor (US$)" : "2013 Valor (USD)"})
exportacao_esp_2013.head()

               PaÃ­ses 2013 (Ltr) 2013 Valor (USD)
0             Alemanha      5.809           30.461
1               Angola      5.850           21.060
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [88]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2014&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2014 = leitura[5]
exportacao_esp_2014.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           9.236      62.169
1               Angola           6.866      22.423
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [89]:
exportacao_esp_2014 = exportacao_esp_2014.rename(columns={"Quantidade (Kg)" : "2014 (Ltr)", "Valor (US$)" : "2014 Valor (USD)"})
exportacao_esp_2014.head()

               PaÃ­ses 2014 (Ltr) 2014 Valor (USD)
0             Alemanha      9.236           62.169
1               Angola      6.866           22.423
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [90]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2015&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2015 = leitura[5]
exportacao_esp_2015.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           6.256      30.939
1               Angola               -           -
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [91]:
exportacao_esp_2015 = exportacao_esp_2015.rename(columns={"Quantidade (Kg)" : "2015 (Ltr)", "Valor (US$)" : "2015 Valor (USD)"})
exportacao_esp_2015.head()

               PaÃ­ses 2015 (Ltr) 2015 Valor (USD)
0             Alemanha      6.256           30.939
1               Angola          -                -
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [92]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2016&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2016 = leitura[5]
exportacao_esp_2016.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           4.293      19.088
1               Angola              90       1.010
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [93]:
exportacao_esp_2016 = exportacao_esp_2016.rename(columns={"Quantidade (Kg)" : "2016 (Ltr)", "Valor (US$)" : "2016 Valor (USD)"})
exportacao_esp_2016.head()

               PaÃ­ses 2016 (Ltr) 2016 Valor (USD)
0             Alemanha      4.293           19.088
1               Angola         90            1.010
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [94]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2017&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2017 = leitura[5]
exportacao_esp_2017.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           4.824      28.799
1               Angola               -           -
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [95]:
exportacao_esp_2017 = exportacao_esp_2017.rename(columns={"Quantidade (Kg)" : "2017 (Ltr)", "Valor (US$)" : "2017 Valor (USD)"})
exportacao_esp_2017.head()

               PaÃ­ses 2017 (Ltr) 2017 Valor (USD)
0             Alemanha      4.824           28.799
1               Angola          -                -
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [96]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2018&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2018 = leitura[5]
exportacao_esp_2018.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           4.092      21.373
1               Angola              63         280
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina           4.342      17.243

In [97]:
exportacao_esp_2018 = exportacao_esp_2018.rename(columns={"Quantidade (Kg)" : "2018 (Ltr)", "Valor (US$)" : "2018 Valor (USD)"})
exportacao_esp_2018.head()

               PaÃ­ses 2018 (Ltr) 2018 Valor (USD)
0             Alemanha      4.092           21.373
1               Angola         63              280
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina      4.342           17.243

In [98]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2019&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2019 = leitura[5]
exportacao_esp_2019.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           1.003       5.466
1               Angola           1.007       3.615
2    Antigua e Barbuda               7          34
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [99]:
exportacao_esp_2019 = exportacao_esp_2019.rename(columns={"Quantidade (Kg)" : "2019 (Ltr)", "Valor (US$)" : "2019 Valor (USD)"})
exportacao_esp_2019.head()

               PaÃ­ses 2019 (Ltr) 2019 Valor (USD)
0             Alemanha      1.003            5.466
1               Angola      1.007            3.615
2    Antigua e Barbuda          7               34
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [100]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2020&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2020 = leitura[5]
exportacao_esp_2020.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           2.388      14.767
1               Angola              24          38
2    Antigua e Barbuda              32         328
3  Antilhas Holandesas               -           -
4            Argentina             315         894

In [101]:
exportacao_esp_2020 = exportacao_esp_2020.rename(columns={"Quantidade (Kg)" : "2020 (Ltr)", "Valor (US$)" : "2020 Valor (USD)"})
exportacao_esp_2020.head()

               PaÃ­ses 2020 (Ltr) 2020 Valor (USD)
0             Alemanha      2.388           14.767
1               Angola         24               38
2    Antigua e Barbuda         32              328
3  Antilhas Holandesas          -                -
4            Argentina        315              894

In [102]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2021&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2021 = leitura[5]
exportacao_esp_2021.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha             142         265
1               Angola               -           -
2    Antigua e Barbuda              10          82
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [103]:
exportacao_esp_2021 = exportacao_esp_2021.rename(columns={"Quantidade (Kg)" : "2021 (Ltr)", "Valor (US$)" : "2021 Valor (USD)"})
exportacao_esp_2021.head()

               PaÃ­ses 2021 (Ltr) 2021 Valor (USD)
0             Alemanha        142              265
1               Angola          -                -
2    Antigua e Barbuda         10               82
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [104]:
exportacao_esp_total = pd.concat([exportacao_esp_2007, exportacao_esp_2008, exportacao_esp_2009, exportacao_esp_2010, exportacao_esp_2011, exportacao_esp_2012, exportacao_esp_2013,
                            exportacao_esp_2014, exportacao_esp_2015, exportacao_esp_2016, exportacao_esp_2017, exportacao_esp_2018, exportacao_esp_2019, exportacao_esp_2020, exportacao_esp_2021], axis=1)
exportacao_esp_total.head()

,PaÃ­ses,2007 (Ltr),2007 Valor (USD),PaÃ­ses,2008 (Ltr),2008 Valor (USD),PaÃ­ses,2009 (Ltr),2009 Valor (USD),PaÃ­ses,...,2018 Valor (USD),PaÃ­ses,2019 (Ltr),2019 Valor (USD),PaÃ­ses,2020 (Ltr),2020 Valor (USD),PaÃ­ses,2021 (Ltr),2021 Valor (USD)
0,Alemanha,3.547,10.192,Alemanha,5.423,20.928,Alemanha,6.648,29.018,Alemanha,...,21.373,Alemanha,1.003,5.466,Alemanha,2.388,14.767,Alemanha,142,265
1,Angola,6.293,26.252,Angola,2.244,10.581,Angola,11.393,33.664,Angola,...,280,Angola,1.007,3.615,Angola,24,38,Angola,-,-
2,Antigua e Barbuda,-,-,Antigua e Barbuda,-,-,Antigua e Barbuda,-,-,Antigua e Barbuda,...,-,Antigua e Barbuda,7,34,Antigua e Barbuda,32,328,Antigua e Barbuda,10,82
3,Antilhas Holandesas,-,-,Antilhas Holandesas,-,-,Antilhas Holandesas,180,1.660,Antilhas Holandesas,...,-,Antilhas Holandesas,-,-,Antilhas Holandesas,-,-,Antilhas Holandesas,-,-
4,Argentina,-,-,Argentina,-,-,Argentina,-,-,Argentina,...,17.243,Argentina,-,-,Argentina,315,894,Argentina,-,-

In [105]:
colunas_sele = ["PaÃ­ses", "2007 (Ltr)",	"2007 Valor (USD)",	"2008 (Ltr)",	"2008 Valor (USD)",	"2009 (Ltr)",	"2009 Valor (USD)",	"2010 (Ltr)",	"2010 Valor (USD)",	"2011 (Ltr)",
                        "2011 Valor (USD)",	"2012 (Ltr)",	"2012 Valor (USD)",	"2013 (Ltr)",	"2013 Valor (USD)",	"2014 (Ltr)",	"2014 Valor (USD)",	"2015 (Ltr)",	"2015 Valor (USD)",
                        "2016 (Ltr)",	"2016 Valor (USD)",	"2017 (Ltr)",	"2017 Valor (USD)",	"2018 (Ltr)",	"2018 Valor (USD)",	"2019 (Ltr)",	"2019 Valor (USD)",	"2020 (Ltr)",
                        "2020 Valor (USD)",	"2021 (Ltr)",	"2021 Valor (USD)"]

exportacao_esp_total = exportacao_esp_total.loc[:, colunas_sele]
exportacao_esp_total.head()

,PaÃ­ses,PaÃ­ses,PaÃ­ses,PaÃ­ses,PaÃ­ses,PaÃ­ses,PaÃ­ses,PaÃ­ses,PaÃ­ses,PaÃ­ses,...,2017 (Ltr),2017 Valor (USD),2018 (Ltr),2018 Valor (USD),2019 (Ltr),2019 Valor (USD),2020 (Ltr),2020 Valor (USD),2021 (Ltr),2021 Valor (USD)
0,Alemanha,Alemanha,Alemanha,Alemanha,Alemanha,Alemanha,Alemanha,Alemanha,Alemanha,Alemanha,...,4.824,28.799,4.092,21.373,1.003,5.466,2.388,14.767,142,265
1,Angola,Angola,Angola,Angola,Angola,Angola,Angola,Angola,Angola,Angola,...,-,-,63,280,1.007,3.615,24,38,-,-
2,Antigua e Barbuda,Antigua e Barbuda,Antigua e Barbuda,Antigua e Barbuda,Antigua e Barbuda,Antigua e Barbuda,Antigua e Barbuda,Antigua e Barbuda,Antigua e Barbuda,Antigua e Barbuda,...,-,-,-,-,7,34,32,328,10,82
3,Antilhas Holandesas,Antilhas Holandesas,Antilhas Holandesas,Antilhas Holandesas,Antilhas Holandesas,Antilhas Holandesas,Antilhas Holandesas,Antilhas Holandesas,Antilhas Holandesas,Antilhas Holandesas,...,-,-,-,-,-,-,-,-,-,-
4,Argentina,Argentina,Argentina,Argentina,Argentina,Argentina,Argentina,Argentina,Argentina,Argentina,...,-,-,4.342,17.243,-,-,315,894,-,-

In [106]:
exportacao_esp_total = exportacao_esp_total.iloc[:, 14:]
exportacao_esp_total.head()

,PaÃ­ses,2007 (Ltr),2007 Valor (USD),2008 (Ltr),2008 Valor (USD),2009 (Ltr),2009 Valor (USD),2010 (Ltr),2010 Valor (USD),2011 (Ltr),...,2017 (Ltr),2017 Valor (USD),2018 (Ltr),2018 Valor (USD),2019 (Ltr),2019 Valor (USD),2020 (Ltr),2020 Valor (USD),2021 (Ltr),2021 Valor (USD)
0,Alemanha,3.547,10.192,5.423,20.928,6.648,29.018,1.958,6.877,1.976,...,4.824,28.799,4.092,21.373,1.003,5.466,2.388,14.767,142,265
1,Angola,6.293,26.252,2.244,10.581,11.393,33.664,104.138,672.533,904,...,-,-,63,280,1.007,3.615,24,38,-,-
2,Antigua e Barbuda,-,-,-,-,-,-,-,-,-,...,-,-,-,-,7,34,32,328,10,82
3,Antilhas Holandesas,-,-,-,-,180,1.660,-,-,9.144,...,-,-,-,-,-,-,-,-,-,-
4,Argentina,-,-,-,-,-,-,-,-,-,...,-,-,4.342,17.243,-,-,315,894,-,-

In [107]:
exportacao_esp_total = exportacao_esp_total.replace("-", 0)
exportacao_esp_total.head()

,PaÃ­ses,2007 (Ltr),2007 Valor (USD),2008 (Ltr),2008 Valor (USD),2009 (Ltr),2009 Valor (USD),2010 (Ltr),2010 Valor (USD),2011 (Ltr),...,2017 (Ltr),2017 Valor (USD),2018 (Ltr),2018 Valor (USD),2019 (Ltr),2019 Valor (USD),2020 (Ltr),2020 Valor (USD),2021 (Ltr),2021 Valor (USD)
0,Alemanha,3.547,10.192,5.423,20.928,6.648,29.018,1.958,6.877,1.976,...,4.824,28.799,4.092,21.373,1.003,5.466,2.388,14.767,142,265
1,Angola,6.293,26.252,2.244,10.581,11.393,33.664,104.138,672.533,904,...,0,0,63,280,1.007,3.615,24,38,0,0
2,Antigua e Barbuda,0,0,0,0,0,0,0,0,0,...,0,0,0,0,7,34,32,328,10,82
3,Antilhas Holandesas,0,0,0,0,180,1.660,0,0,9.144,...,0,0,0,0,0,0,0,0,0,0
4,Argentina,0,0,0,0,0,0,0,0,0,...,0,0,4.342,17.243,0,0,315,894,0,0

In [108]:
exportacao_esp_total = exportacao_esp_total.set_index(exportacao_esp_total.columns[0])

index_column = exportacao_esp_total.index.name
print(index_column)

PaÃ­ses

In [109]:
def safe_division(x, y):
    if y != 0:
        return x / y
    else:
        return 0

for year in range(2007, 2021):
    index = ["Paises"]
    valor1_col = f"{year} (Ltr)"
    valor2_col = f"{year} Valor (USD)"
    media_ = f'media_{year}'
    exportacao_esp_total.loc[:, valor1_col] = pd.to_numeric(exportacao_esp_total[valor1_col], errors='coerce')
    exportacao_esp_total.loc[:, valor2_col] = pd.to_numeric(exportacao_esp_total[valor2_col], errors='coerce')
    exportacao_esp_total.loc[:, media_] = exportacao_esp_total.apply(lambda row: safe_division(row[valor2_col], row[valor1_col]), axis=1)

# Reorganizando as colunas na ordem desejada
columns_ordered = []
for year in range(2007, 2021):
    valor1_col = f"{year} (Ltr)"
    valor2_col = f"{year} Valor (USD)"
    media_ = f'media_{year}'
    columns_ordered.extend([valor1_col, valor2_col, media_])

exportacao_esp_total = exportacao_esp_total[columns_ordered]
exportacao_esp_total.fillna(0, inplace=True)


exportacao_esp_total.head()

<ipython-input-109-ac3cdafcad24>:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor1_col] = pd.to_numeric(exportacao_esp_total[valor1_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:13: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor2_col] = pd.to_numeric(exportacao_esp_total[valor2_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor1_col] = pd.to_numeric(exportacao_esp_total[valor1_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:13: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor2_col] = pd.to_numeric(exportacao_esp_total[valor2_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor1_col] = pd.to_numeric(exportacao_esp_total[valor1_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:13: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor2_col] = pd.to_numeric(exportacao_esp_total[valor2_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor1_col] = pd.to_numeric(exportacao_esp_total[valor1_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:13: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor2_col] = pd.to_numeric(exportacao_esp_total[valor2_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor1_col] = pd.to_numeric(exportacao_esp_total[valor1_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:13: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor2_col] = pd.to_numeric(exportacao_esp_total[valor2_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor1_col] = pd.to_numeric(exportacao_esp_total[valor1_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:13: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor2_col] = pd.to_numeric(exportacao_esp_total[valor2_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor1_col] = pd.to_numeric(exportacao_esp_total[valor1_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:13: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor2_col] = pd.to_numeric(exportacao_esp_total[valor2_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor1_col] = pd.to_numeric(exportacao_esp_total[valor1_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:13: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor2_col] = pd.to_numeric(exportacao_esp_total[valor2_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor1_col] = pd.to_numeric(exportacao_esp_total[valor1_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:13: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor2_col] = pd.to_numeric(exportacao_esp_total[valor2_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor1_col] = pd.to_numeric(exportacao_esp_total[valor1_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:13: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor2_col] = pd.to_numeric(exportacao_esp_total[valor2_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor1_col] = pd.to_numeric(exportacao_esp_total[valor1_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:13: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor2_col] = pd.to_numeric(exportacao_esp_total[valor2_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor1_col] = pd.to_numeric(exportacao_esp_total[valor1_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:13: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor2_col] = pd.to_numeric(exportacao_esp_total[valor2_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor1_col] = pd.to_numeric(exportacao_esp_total[valor1_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:13: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor2_col] = pd.to_numeric(exportacao_esp_total[valor2_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:12: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor1_col] = pd.to_numeric(exportacao_esp_total[valor1_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:13: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  exportacao_esp_total.loc[:, valor2_col] = pd.to_numeric(exportacao_esp_total[valor2_col], errors='coerce')
<ipython-input-109-ac3cdafcad24>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exportacao_esp_total.fillna(0, inplace=True)

,2007 (Ltr),2007 Valor (USD),media_2007,2008 (Ltr),2008 Valor (USD),media_2008,2009 (Ltr),2009 Valor (USD),media_2009,2010 (Ltr),...,media_2017,2018 (Ltr),2018 Valor (USD),media_2018,2019 (Ltr),2019 Valor (USD),media_2019,2020 (Ltr),2020 Valor (USD),media_2020
PaÃ­ses,,,,,,,,,,,,,,,,,,,,,
Alemanha,3.547,10.192,2.873414,5.423,20.928,3.859119,6.648,29.018,4.364922,1.958,...,5.969942,4.092,21.373,5.223118,1.003,5.466,5.449651,2.388,14.767,6.183836
Angola,6.293,26.252,4.171619,2.244,10.581,4.715241,11.393,33.664,2.954797,104.138,...,0.000000,63.000,280.000,4.444444,1.007,3.615,3.589871,24.000,38.000,1.583333
Antigua e Barbuda,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,...,0.000000,0.000,0.000,0.000000,7.000,34.000,4.857143,32.000,328.000,10.250000
Antilhas Holandesas,0.000,0.000,0.000000,0.000,0.000,0.000000,180.000,1.660,0.009222,0.000,...,0.000000,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,0.000,0.000000
Argentina,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,...,0.000000,4.342,17.243,3.971211,0.000,0.000,0.000000,315.000,894.000,2.838095

In [110]:
exportacao_esp_total.to_excel('exportacao_esp_total.xlsx', index=False)

# 1.4 Processamento de Uvas Tipo Viníferas de 2007 até 2021

In [111]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2007&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2007 = leitura[5]
proces_vinifera_2007.head()

            Cultivar Quantidade (Kg)
0             TINTAS      43.653.087
1  Alicante Bouschet       1.775.837
2           Ancelota       1.532.209
3             Aramon               -
4        Alfrocheiro          20.509

In [112]:
proces_vinifera_2007 = proces_vinifera_2007.rename(columns={"Quantidade (Kg)" : "2007 (Ltr)"})
proces_vinifera_2007.head()

            Cultivar  2007 (Ltr)
0             TINTAS  43.653.087
1  Alicante Bouschet   1.775.837
2           Ancelota   1.532.209
3             Aramon           -
4        Alfrocheiro      20.509

In [113]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2008&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2008 = leitura[5]
proces_vinifera_2008.head()

            Cultivar Quantidade (Kg)
0             TINTAS      48.852.574
1  Alicante Bouschet       1.588.326
2           Ancelota       1.709.883
3             Aramon               -
4        Alfrocheiro          25.310

In [114]:
proces_vinifera_2008 = proces_vinifera_2008.rename(columns={"Quantidade (Kg)" : "2008 (Ltr)"})
proces_vinifera_2008.head()

            Cultivar  2008 (Ltr)
0             TINTAS  48.852.574
1  Alicante Bouschet   1.588.326
2           Ancelota   1.709.883
3             Aramon           -
4        Alfrocheiro      25.310

In [115]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2009&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2009 = leitura[5]
proces_vinifera_2009.head()

            Cultivar Quantidade (Kg)
0             TINTAS      39.148.123
1  Alicante Bouschet       1.652.912
2           Ancelota       1.370.728
3             Aramon               -
4        Alfrocheiro          31.168

In [116]:
proces_vinifera_2009 = proces_vinifera_2009.rename(columns={"Quantidade (Kg)" : "2009 (Ltr)"})
proces_vinifera_2009.head()

            Cultivar  2009 (Ltr)
0             TINTAS  39.148.123
1  Alicante Bouschet   1.652.912
2           Ancelota   1.370.728
3             Aramon           -
4        Alfrocheiro      31.168

In [117]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2010&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2010 = leitura[5]
proces_vinifera_2010.head()

            Cultivar Quantidade (Kg)
0             TINTAS      23.633.831
1  Alicante Bouschet         849.263
2           Ancelota         853.718
3             Aramon               -
4        Alfrocheiro               -

In [118]:
proces_vinifera_2010 = proces_vinifera_2010.rename(columns={"Quantidade (Kg)" : "2010 (Ltr)"})
proces_vinifera_2010.head()

            Cultivar  2010 (Ltr)
0             TINTAS  23.633.831
1  Alicante Bouschet     849.263
2           Ancelota     853.718
3             Aramon           -
4        Alfrocheiro           -

In [119]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2011&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2011 = leitura[5]
proces_vinifera_2011.head()

            Cultivar Quantidade (Kg)
0             TINTAS      44.473.588
1  Alicante Bouschet       2.130.579
2           Ancelota       1.346.552
3             Aramon               -
4        Alfrocheiro           4.320

In [120]:
proces_vinifera_2011 = proces_vinifera_2011.rename(columns={"Quantidade (Kg)" : "2011 (Ltr)"})
proces_vinifera_2011.head()

            Cultivar  2011 (Ltr)
0             TINTAS  44.473.588
1  Alicante Bouschet   2.130.579
2           Ancelota   1.346.552
3             Aramon           -
4        Alfrocheiro       4.320

In [121]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2012&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2012 = leitura[5]
proces_vinifera_2012.head()

            Cultivar Quantidade (Kg)
0             TINTAS      39.303.313
1  Alicante Bouschet       2.098.824
2           Ancelota       1.274.677
3             Aramon               -
4        Alfrocheiro               -

In [122]:
proces_vinifera_2012 = proces_vinifera_2012.rename(columns={"Quantidade (Kg)" : "2012 (Ltr)"})
proces_vinifera_2012.head()

            Cultivar  2012 (Ltr)
0             TINTAS  39.303.313
1  Alicante Bouschet   2.098.824
2           Ancelota   1.274.677
3             Aramon           -
4        Alfrocheiro           -

In [123]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2013&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2013 = leitura[5]
proces_vinifera_2013.head()

            Cultivar Quantidade (Kg)
0             TINTAS      36.855.419
1  Alicante Bouschet       1.524.728
2           Ancelota       1.137.943
3             Aramon               -
4        Alfrocheiro               -

In [124]:
proces_vinifera_2013 = proces_vinifera_2013.rename(columns={"Quantidade (Kg)" : "2013 (Ltr)"})
proces_vinifera_2013.head()

            Cultivar  2013 (Ltr)
0             TINTAS  36.855.419
1  Alicante Bouschet   1.524.728
2           Ancelota   1.137.943
3             Aramon           -
4        Alfrocheiro           -

In [125]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2014&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2014 = leitura[5]
proces_vinifera_2014.head()

            Cultivar Quantidade (Kg)
0             TINTAS      29.810.706
1  Alicante Bouschet       1.456.305
2           Ancelota         937.844
3             Aramon               -
4        Alfrocheiro               -

In [126]:
proces_vinifera_2014 = proces_vinifera_2014.rename(columns={"Quantidade (Kg)" : "2014 (Ltr)"})
proces_vinifera_2014.head()

            Cultivar  2014 (Ltr)
0             TINTAS  29.810.706
1  Alicante Bouschet   1.456.305
2           Ancelota     937.844
3             Aramon           -
4        Alfrocheiro           -

In [127]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2015&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2015 = leitura[5]
proces_vinifera_2015.head()

            Cultivar Quantidade (Kg)
0             TINTAS      29.935.627
1  Alicante Bouschet       1.519.576
2           Ancelota         773.526
3             Aramon               -
4        Alfrocheiro               -

In [128]:
proces_vinifera_2015 = proces_vinifera_2015.rename(columns={"Quantidade (Kg)" : "2015 (Ltr)"})
proces_vinifera_2015.head()

            Cultivar  2015 (Ltr)
0             TINTAS  29.935.627
1  Alicante Bouschet   1.519.576
2           Ancelota     773.526
3             Aramon           -
4        Alfrocheiro           -

In [129]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2016&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2016 = leitura[5]
proces_vinifera_2016.head()

            Cultivar Quantidade (Kg)
0             TINTAS      13.370.866
1  Alicante Bouschet         908.841
2           Ancelota         179.028
3             Aramon               -
4        Alfrocheiro               -

In [130]:
proces_vinifera_2016 = proces_vinifera_2016.rename(columns={"Quantidade (Kg)" : "2016 (Ltr)"})
proces_vinifera_2016.head()

            Cultivar  2016 (Ltr)
0             TINTAS  13.370.866
1  Alicante Bouschet     908.841
2           Ancelota     179.028
3             Aramon           -
4        Alfrocheiro           -

In [131]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2017&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2017 = leitura[5]
proces_vinifera_2017.head()

            Cultivar Quantidade (Kg)
0             TINTAS      32.850.915
1  Alicante Bouschet       2.040.198
2           Ancelota         733.907
3             Aramon               -
4        Alfrocheiro               -

In [132]:
proces_vinifera_2017 = proces_vinifera_2017.rename(columns={"Quantidade (Kg)" : "2017 (Ltr)"})
proces_vinifera_2017.head()

            Cultivar  2017 (Ltr)
0             TINTAS  32.850.915
1  Alicante Bouschet   2.040.198
2           Ancelota     733.907
3             Aramon           -
4        Alfrocheiro           -

In [133]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2018&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2018 = leitura[5]
proces_vinifera_2018.head()

            Cultivar Quantidade (Kg)
0             TINTAS      26.868.514
1  Alicante Bouschet       2.103.844
2           Ancelota         492.106
3             Aramon               -
4        Alfrocheiro               -

In [134]:
proces_vinifera_2018 = proces_vinifera_2018.rename(columns={"Quantidade (Kg)" : "2018 (Ltr)"})
proces_vinifera_2018.head()

            Cultivar  2018 (Ltr)
0             TINTAS  26.868.514
1  Alicante Bouschet   2.103.844
2           Ancelota     492.106
3             Aramon           -
4        Alfrocheiro           -

In [135]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2019&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2019 = leitura[5]
proces_vinifera_2019.head()

            Cultivar Quantidade (Kg)
0             TINTAS              nd
1  Alicante Bouschet              nd
2           Ancelota              nd
3             Aramon              nd
4        Alfrocheiro              nd

In [136]:
proces_vinifera_2019 = proces_vinifera_2019.rename(columns={"Quantidade (Kg)" : "2019 (Ltr)"})
proces_vinifera_2019.head()

            Cultivar 2019 (Ltr)
0             TINTAS         nd
1  Alicante Bouschet         nd
2           Ancelota         nd
3             Aramon         nd
4        Alfrocheiro         nd

In [137]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2020&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2020 = leitura[5]
proces_vinifera_2020.head()

            Cultivar Quantidade (Kg)
0             TINTAS      28.003.505
1  Alicante Bouschet       2.272.985
2           Ancelota         481.402
3             Aramon               -
4        Alfrocheiro               -

In [138]:
proces_vinifera_2020 = proces_vinifera_2020.rename(columns={"Quantidade (Kg)" : "2020 (Ltr)"})
proces_vinifera_2020.head()

            Cultivar  2020 (Ltr)
0             TINTAS  28.003.505
1  Alicante Bouschet   2.272.985
2           Ancelota     481.402
3             Aramon           -
4        Alfrocheiro           -

In [139]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2021&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2021 = leitura[5]
proces_vinifera_2021.head()

            Cultivar Quantidade (Kg)
0             TINTAS      93.296.587
1  Alicante Bouschet         811.140
2           Ancelota       6.513.974
3             Aramon               -
4        Alfrocheiro               -

In [140]:
proces_vinifera_2021 = proces_vinifera_2021.rename(columns={"Quantidade (Kg)" : "2021 (Ltr)"})
proces_vinifera_2021.head()

            Cultivar  2021 (Ltr)
0             TINTAS  93.296.587
1  Alicante Bouschet     811.140
2           Ancelota   6.513.974
3             Aramon           -
4        Alfrocheiro           -

In [141]:
proces_vinifera_total = pd.concat([proces_vinifera_2007, proces_vinifera_2008, proces_vinifera_2009, proces_vinifera_2010, proces_vinifera_2011, proces_vinifera_2012, proces_vinifera_2013,
                            proces_vinifera_2014, proces_vinifera_2015, proces_vinifera_2016, proces_vinifera_2017, proces_vinifera_2018, proces_vinifera_2019, proces_vinifera_2020, proces_vinifera_2021], axis=1)
proces_vinifera_total.head()

,Cultivar,2007 (Ltr),Cultivar,2008 (Ltr),Cultivar,2009 (Ltr),Cultivar,2010 (Ltr),Cultivar,2011 (Ltr),...,Cultivar,2017 (Ltr),Cultivar,2018 (Ltr),Cultivar,2019 (Ltr),Cultivar,2020 (Ltr),Cultivar,2021 (Ltr)
0,TINTAS,43.653.087,TINTAS,48.852.574,TINTAS,39.148.123,TINTAS,23.633.831,TINTAS,44.473.588,...,TINTAS,32.850.915,TINTAS,26.868.514,TINTAS,nd,TINTAS,28.003.505,TINTAS,93.296.587
1,Alicante Bouschet,1.775.837,Alicante Bouschet,1.588.326,Alicante Bouschet,1.652.912,Alicante Bouschet,849.263,Alicante Bouschet,2.130.579,...,Alicante Bouschet,2.040.198,Alicante Bouschet,2.103.844,Alicante Bouschet,nd,Alicante Bouschet,2.272.985,Alicante Bouschet,811.140
2,Ancelota,1.532.209,Ancelota,1.709.883,Ancelota,1.370.728,Ancelota,853.718,Ancelota,1.346.552,...,Ancelota,733.907,Ancelota,492.106,Ancelota,nd,Ancelota,481.402,Ancelota,6.513.974
3,Aramon,-,Aramon,-,Aramon,-,Aramon,-,Aramon,-,...,Aramon,-,Aramon,-,Aramon,nd,Aramon,-,Aramon,-
4,Alfrocheiro,20.509,Alfrocheiro,25.310,Alfrocheiro,31.168,Alfrocheiro,-,Alfrocheiro,4.320,...,Alfrocheiro,-,Alfrocheiro,-,Alfrocheiro,nd,Alfrocheiro,-,Alfrocheiro,-

In [142]:
colunas_selec = ["Cultivar",	"2007 (Ltr)",	"2008 (Ltr)", "2009 (Ltr)",	"2010 (Ltr)", "2011 (Ltr)", "2012 (Ltr)", "2013 (Ltr)", "2014 (Ltr)", "2015 (Ltr)", "2016 (Ltr)", "2017 (Ltr)",
                        "2018 (Ltr)", "2019 (Ltr)", "2020 (Ltr)", "2021 (Ltr)"]
proces_vinifera_total = proces_vinifera_total.loc[:, colunas_selec]
proces_vinifera_total.head()

,Cultivar,Cultivar,Cultivar,Cultivar,Cultivar,Cultivar,Cultivar,Cultivar,Cultivar,Cultivar,...,2012 (Ltr),2013 (Ltr),2014 (Ltr),2015 (Ltr),2016 (Ltr),2017 (Ltr),2018 (Ltr),2019 (Ltr),2020 (Ltr),2021 (Ltr)
0,TINTAS,TINTAS,TINTAS,TINTAS,TINTAS,TINTAS,TINTAS,TINTAS,TINTAS,TINTAS,...,39.303.313,36.855.419,29.810.706,29.935.627,13.370.866,32.850.915,26.868.514,nd,28.003.505,93.296.587
1,Alicante Bouschet,Alicante Bouschet,Alicante Bouschet,Alicante Bouschet,Alicante Bouschet,Alicante Bouschet,Alicante Bouschet,Alicante Bouschet,Alicante Bouschet,Alicante Bouschet,...,2.098.824,1.524.728,1.456.305,1.519.576,908.841,2.040.198,2.103.844,nd,2.272.985,811.140
2,Ancelota,Ancelota,Ancelota,Ancelota,Ancelota,Ancelota,Ancelota,Ancelota,Ancelota,Ancelota,...,1.274.677,1.137.943,937.844,773.526,179.028,733.907,492.106,nd,481.402,6.513.974
3,Aramon,Aramon,Aramon,Aramon,Aramon,Aramon,Aramon,Aramon,Aramon,Aramon,...,-,-,-,-,-,-,-,nd,-,-
4,Alfrocheiro,Alfrocheiro,Alfrocheiro,Alfrocheiro,Alfrocheiro,Alfrocheiro,Alfrocheiro,Alfrocheiro,Alfrocheiro,Alfrocheiro,...,-,-,-,-,-,-,-,nd,-,-

In [143]:
proces_vinifera_total = proces_vinifera_total.iloc[:, 14:]
proces_vinifera_total.head()

,Cultivar,2007 (Ltr),2008 (Ltr),2009 (Ltr),2010 (Ltr),2011 (Ltr),2012 (Ltr),2013 (Ltr),2014 (Ltr),2015 (Ltr),2016 (Ltr),2017 (Ltr),2018 (Ltr),2019 (Ltr),2020 (Ltr),2021 (Ltr)
0,TINTAS,43.653.087,48.852.574,39.148.123,23.633.831,44.473.588,39.303.313,36.855.419,29.810.706,29.935.627,13.370.866,32.850.915,26.868.514,nd,28.003.505,93.296.587
1,Alicante Bouschet,1.775.837,1.588.326,1.652.912,849.263,2.130.579,2.098.824,1.524.728,1.456.305,1.519.576,908.841,2.040.198,2.103.844,nd,2.272.985,811.140
2,Ancelota,1.532.209,1.709.883,1.370.728,853.718,1.346.552,1.274.677,1.137.943,937.844,773.526,179.028,733.907,492.106,nd,481.402,6.513.974
3,Aramon,-,-,-,-,-,-,-,-,-,-,-,-,nd,-,-
4,Alfrocheiro,20.509,25.310,31.168,-,4.320,-,-,-,-,-,-,-,nd,-,-

In [144]:
proces_vinifera_total = proces_vinifera_total.replace("-", 0)
proces_vinifera_total.head()

,Cultivar,2007 (Ltr),2008 (Ltr),2009 (Ltr),2010 (Ltr),2011 (Ltr),2012 (Ltr),2013 (Ltr),2014 (Ltr),2015 (Ltr),2016 (Ltr),2017 (Ltr),2018 (Ltr),2019 (Ltr),2020 (Ltr),2021 (Ltr)
0,TINTAS,43.653.087,48.852.574,39.148.123,23.633.831,44.473.588,39.303.313,36.855.419,29.810.706,29.935.627,13.370.866,32.850.915,26.868.514,nd,28.003.505,93.296.587
1,Alicante Bouschet,1.775.837,1.588.326,1.652.912,849.263,2.130.579,2.098.824,1.524.728,1.456.305,1.519.576,908.841,2.040.198,2.103.844,nd,2.272.985,811.140
2,Ancelota,1.532.209,1.709.883,1.370.728,853.718,1.346.552,1.274.677,1.137.943,937.844,773.526,179.028,733.907,492.106,nd,481.402,6.513.974
3,Aramon,0,0,0,0,0,0,0,0,0,0,0,0,nd,0,0
4,Alfrocheiro,20.509,25.310,31.168,0,4.320,0,0,0,0,0,0,0,nd,0,0

In [145]:
proces_vinifera_total = proces_vinifera_total.set_index(proces_vinifera_total.columns[0])

index_column = proces_vinifera_total.index.name
print(index_column)

Cultivar

In [146]:
proces_vinifera_total.to_excel('proces_vinifera_total.xlsx', index=False)

# 1.5 Processamento de Uvas tipo Americana e Hibridas de 2007 até 2021

In [147]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2007&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2007 = leitura[5]
proces_ame_e_hib_2007.head()

      Cultivar Quantidade (Kg)
0       TINTAS     430.628.346
1     Bacarina          12.070
2       Bailey         236.139
3        Bordo      76.907.674
4  Bourdin (S)               -

In [148]:
proces_ame_e_hib_2007 = proces_ame_e_hib_2007.rename(columns={"Quantidade (Kg)" : "2007 (Ltr)"})
proces_ame_e_hib_2007.head()

      Cultivar   2007 (Ltr)
0       TINTAS  430.628.346
1     Bacarina       12.070
2       Bailey      236.139
3        Bordo   76.907.674
4  Bourdin (S)            -

In [149]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2008&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2008 = leitura[5]
proces_ame_e_hib_2008.head()

      Cultivar Quantidade (Kg)
0       TINTAS     466.504.230
1     Bacarina          16.780
2       Bailey         235.828
3        Bordo      97.644.667
4  Bourdin (S)               -

In [150]:
proces_ame_e_hib_2008 = proces_ame_e_hib_2008.rename(columns={"Quantidade (Kg)" : "2008 (Ltr)"})
proces_ame_e_hib_2008.head()

      Cultivar   2008 (Ltr)
0       TINTAS  466.504.230
1     Bacarina       16.780
2       Bailey      235.828
3        Bordo   97.644.667
4  Bourdin (S)            -

In [151]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2009&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2009 = leitura[5]
proces_ame_e_hib_2009.head()

      Cultivar Quantidade (Kg)
0       TINTAS     391.196.306
1     Bacarina          10.810
2       Bailey         559.815
3        Bordo      69.521.354
4  Bourdin (S)               -

In [152]:
proces_ame_e_hib_2009 = proces_ame_e_hib_2009.rename(columns={"Quantidade (Kg)" : "2009 (Ltr)"})
proces_ame_e_hib_2009.head()

      Cultivar   2009 (Ltr)
0       TINTAS  391.196.306
1     Bacarina       10.810
2       Bailey      559.815
3        Bordo   69.521.354
4  Bourdin (S)            -

In [153]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2010&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2010 = leitura[5]
proces_ame_e_hib_2010.head()

      Cultivar Quantidade (Kg)
0       TINTAS     409.514.092
1     Bacarina           7.850
2       Bailey         604.895
3        Bordo      89.066.377
4  Bourdin (S)          26.990

In [154]:
proces_ame_e_hib_2010 = proces_ame_e_hib_2010.rename(columns={"Quantidade (Kg)" : "2010 (Ltr)"})
proces_ame_e_hib_2010.head()

      Cultivar   2010 (Ltr)
0       TINTAS  409.514.092
1     Bacarina        7.850
2       Bailey      604.895
3        Bordo   89.066.377
4  Bourdin (S)       26.990

In [155]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2011&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2011 = leitura[5]
proces_ame_e_hib_2011.head()

      Cultivar Quantidade (Kg)
0       TINTAS     532.937.101
1     Bacarina          12.930
2       Bailey         769.140
3        Bordo     139.754.250
4  Bourdin (S)               -

In [156]:
proces_ame_e_hib_2011 = proces_ame_e_hib_2011.rename(columns={"Quantidade (Kg)" : "2011 (Ltr)"})
proces_ame_e_hib_2011.head()

      Cultivar   2011 (Ltr)
0       TINTAS  532.937.101
1     Bacarina       12.930
2       Bailey      769.140
3        Bordo  139.754.250
4  Bourdin (S)            -

In [157]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2012&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2012 = leitura[5]
proces_ame_e_hib_2012.head()

      Cultivar Quantidade (Kg)
0       TINTAS     527.332.818
1     Bacarina           3.820
2       Bailey         912.286
3        Bordo     127.378.006
4  Bourdin (S)               -

In [158]:
proces_ame_e_hib_2012 = proces_ame_e_hib_2012.rename(columns={"Quantidade (Kg)" : "2012 (Ltr)"})
proces_ame_e_hib_2012.head()

      Cultivar   2012 (Ltr)
0       TINTAS  527.332.818
1     Bacarina        3.820
2       Bailey      912.286
3        Bordo  127.378.006
4  Bourdin (S)            -

In [159]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2013&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2013 = leitura[5]
proces_ame_e_hib_2013.head()

      Cultivar Quantidade (Kg)
0       TINTAS     460.738.996
1     Bacarina           2.990
2       Bailey         756.000
3        Bordo     102.788.361
4  Bourdin (S)               -

In [160]:
proces_ame_e_hib_2013 = proces_ame_e_hib_2013.rename(columns={"Quantidade (Kg)" : "2013 (Ltr)"})
proces_ame_e_hib_2013.head()

      Cultivar   2013 (Ltr)
0       TINTAS  460.738.996
1     Bacarina        2.990
2       Bailey      756.000
3        Bordo  102.788.361
4  Bourdin (S)            -

In [161]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2014&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2014 = leitura[5]
proces_ame_e_hib_2014.head()

      Cultivar Quantidade (Kg)
0       TINTAS     471.555.903
1     Bacarina           3.900
2       Bailey         991.449
3        Bordo     113.008.320
4  Bourdin (S)               -

In [162]:
proces_ame_e_hib_2014 = proces_ame_e_hib_2014.rename(columns={"Quantidade (Kg)" : "2014 (Ltr)"})
proces_ame_e_hib_2014.head()

      Cultivar   2014 (Ltr)
0       TINTAS  471.555.903
1     Bacarina        3.900
2       Bailey      991.449
3        Bordo  113.008.320
4  Bourdin (S)            -

In [163]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2015&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2015 = leitura[5]
proces_ame_e_hib_2015.head()

      Cultivar Quantidade (Kg)
0       TINTAS     537.592.720
1     Bacarina               -
2       Bailey         963.159
3        Bordo     137.467.196
4  Bourdin (S)               -

In [164]:
proces_ame_e_hib_2015 = proces_ame_e_hib_2015.rename(columns={"Quantidade (Kg)" : "2015 (Ltr)"})
proces_ame_e_hib_2015.head()

      Cultivar   2015 (Ltr)
0       TINTAS  537.592.720
1     Bacarina            -
2       Bailey      963.159
3        Bordo  137.467.196
4  Bourdin (S)            -

In [165]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2016&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2016 = leitura[5]
proces_ame_e_hib_2016.head()

      Cultivar Quantidade (Kg)
0       TINTAS     235.356.261
1     Bacarina               -
2       Bailey         442.784
3        Bordo      60.976.531
4  Bourdin (S)               -

In [166]:
proces_ame_e_hib_2016 = proces_ame_e_hib_2016.rename(columns={"Quantidade (Kg)" : "2016 (Ltr)"})
proces_ame_e_hib_2016.head()

      Cultivar   2016 (Ltr)
0       TINTAS  235.356.261
1     Bacarina            -
2       Bailey      442.784
3        Bordo   60.976.531
4  Bourdin (S)            -

In [167]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2017&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2017 = leitura[5]
proces_ame_e_hib_2017.head()

      Cultivar Quantidade (Kg)
0       TINTAS     600.605.876
1     Bacarina               -
2       Bailey       1.370.092
3        Bordo     160.146.475
4  Bourdin (S)               -

In [168]:
proces_ame_e_hib_2017 = proces_ame_e_hib_2017.rename(columns={"Quantidade (Kg)" : "2017 (Ltr)"})
proces_ame_e_hib_2017.head()

      Cultivar   2017 (Ltr)
0       TINTAS  600.605.876
1     Bacarina            -
2       Bailey    1.370.092
3        Bordo  160.146.475
4  Bourdin (S)            -

In [169]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2018&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2018 = leitura[5]
proces_ame_e_hib_2018.head()

      Cultivar Quantidade (Kg)
0       TINTAS     519.506.589
1     Bacarina               -
2       Bailey         539.742
3        Bordo     158.405.972
4  Bourdin (S)               -

In [170]:
proces_ame_e_hib_2018 = proces_ame_e_hib_2018.rename(columns={"Quantidade (Kg)" : "2018 (Ltr)"})
proces_ame_e_hib_2018.head()

      Cultivar   2018 (Ltr)
0       TINTAS  519.506.589
1     Bacarina            -
2       Bailey      539.742
3        Bordo  158.405.972
4  Bourdin (S)            -

In [171]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2019&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2019 = leitura[5]
proces_ame_e_hib_2019.head()

      Cultivar Quantidade (Kg)
0       TINTAS              nd
1     Bacarina              nd
2       Bailey              nd
3        Bordo              nd
4  Bourdin (S)              nd

In [172]:
proces_ame_e_hib_2019 = proces_ame_e_hib_2019.rename(columns={"Quantidade (Kg)" : "2019 (Ltr)"})
proces_ame_e_hib_2019.head()

      Cultivar 2019 (Ltr)
0       TINTAS         nd
1     Bacarina         nd
2       Bailey         nd
3        Bordo         nd
4  Bourdin (S)         nd

In [173]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2020&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2020 = leitura[5]
proces_ame_e_hib_2020.head()

      Cultivar Quantidade (Kg)
0       TINTAS     376.136.313
1     Bacarina               -
2       Bailey         534.981
3        Bordo     129.978.861
4  Bourdin (S)               -

In [174]:
proces_ame_e_hib_2020 = proces_ame_e_hib_2020.rename(columns={"Quantidade (Kg)" : "2020 (Ltr)"})
proces_ame_e_hib_2020.head()

      Cultivar   2020 (Ltr)
0       TINTAS  376.136.313
1     Bacarina            -
2       Bailey      534.981
3        Bordo  129.978.861
4  Bourdin (S)            -

In [175]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2021&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2021 = leitura[5]
proces_ame_e_hib_2021.head()

      Cultivar Quantidade (Kg)
0       TINTAS     394.224.543
1     Bacarina               -
2       Bailey       4.092.669
3        Bordo     117.655.879
4  Bourdin (S)               -

In [176]:
proces_ame_e_hib_2021 = proces_ame_e_hib_2021.rename(columns={"Quantidade (Kg)" : "2021 (Ltr)"})
proces_ame_e_hib_2021.head()

      Cultivar   2021 (Ltr)
0       TINTAS  394.224.543
1     Bacarina            -
2       Bailey    4.092.669
3        Bordo  117.655.879
4  Bourdin (S)            -

In [177]:
proces_ame_e_hib_total = pd.concat([proces_ame_e_hib_2007, proces_ame_e_hib_2008, proces_ame_e_hib_2009, proces_ame_e_hib_2010, proces_ame_e_hib_2011, proces_ame_e_hib_2012, proces_ame_e_hib_2013,
                            proces_ame_e_hib_2014, proces_ame_e_hib_2015, proces_ame_e_hib_2016, proces_ame_e_hib_2017, proces_ame_e_hib_2018, proces_ame_e_hib_2019, proces_ame_e_hib_2020, proces_ame_e_hib_2021], axis=1)
proces_ame_e_hib_total.head()

,Cultivar,2007 (Ltr),Cultivar,2008 (Ltr),Cultivar,2009 (Ltr),Cultivar,2010 (Ltr),Cultivar,2011 (Ltr),...,Cultivar,2017 (Ltr),Cultivar,2018 (Ltr),Cultivar,2019 (Ltr),Cultivar,2020 (Ltr),Cultivar,2021 (Ltr)
0,TINTAS,430.628.346,TINTAS,466.504.230,TINTAS,391.196.306,TINTAS,409.514.092,TINTAS,532.937.101,...,TINTAS,600.605.876,TINTAS,519.506.589,TINTAS,nd,TINTAS,376.136.313,TINTAS,394.224.543
1,Bacarina,12.070,Bacarina,16.780,Bacarina,10.810,Bacarina,7.850,Bacarina,12.930,...,Bacarina,-,Bacarina,-,Bacarina,nd,Bacarina,-,Bacarina,-
2,Bailey,236.139,Bailey,235.828,Bailey,559.815,Bailey,604.895,Bailey,769.140,...,Bailey,1.370.092,Bailey,539.742,Bailey,nd,Bailey,534.981,Bailey,4.092.669
3,Bordo,76.907.674,Bordo,97.644.667,Bordo,69.521.354,Bordo,89.066.377,Bordo,139.754.250,...,Bordo,160.146.475,Bordo,158.405.972,Bordo,nd,Bordo,129.978.861,Bordo,117.655.879
4,Bourdin (S),-,Bourdin (S),-,Bourdin (S),-,Bourdin (S),26.990,Bourdin (S),-,...,Bourdin (S),-,Bourdin (S),-,Bourdin (S),nd,Bourdin (S),-,Bourdin (S),-

In [178]:
colunas_seleci = ["Cultivar",	"2007 (Ltr)",	"2008 (Ltr)", "2009 (Ltr)",	"2010 (Ltr)", "2011 (Ltr)", "2012 (Ltr)", "2013 (Ltr)", "2014 (Ltr)", "2015 (Ltr)", "2016 (Ltr)", "2017 (Ltr)",
                        "2018 (Ltr)", "2019 (Ltr)", "2020 (Ltr)", "2021 (Ltr)"]
proces_ame_e_hib_total = proces_ame_e_hib_total.loc[:, colunas_seleci]
proces_ame_e_hib_total.head()

,Cultivar,Cultivar,Cultivar,Cultivar,Cultivar,Cultivar,Cultivar,Cultivar,Cultivar,Cultivar,...,2012 (Ltr),2013 (Ltr),2014 (Ltr),2015 (Ltr),2016 (Ltr),2017 (Ltr),2018 (Ltr),2019 (Ltr),2020 (Ltr),2021 (Ltr)
0,TINTAS,TINTAS,TINTAS,TINTAS,TINTAS,TINTAS,TINTAS,TINTAS,TINTAS,TINTAS,...,527.332.818,460.738.996,471.555.903,537.592.720,235.356.261,600.605.876,519.506.589,nd,376.136.313,394.224.543
1,Bacarina,Bacarina,Bacarina,Bacarina,Bacarina,Bacarina,Bacarina,Bacarina,Bacarina,Bacarina,...,3.820,2.990,3.900,-,-,-,-,nd,-,-
2,Bailey,Bailey,Bailey,Bailey,Bailey,Bailey,Bailey,Bailey,Bailey,Bailey,...,912.286,756.000,991.449,963.159,442.784,1.370.092,539.742,nd,534.981,4.092.669
3,Bordo,Bordo,Bordo,Bordo,Bordo,Bordo,Bordo,Bordo,Bordo,Bordo,...,127.378.006,102.788.361,113.008.320,137.467.196,60.976.531,160.146.475,158.405.972,nd,129.978.861,117.655.879
4,Bourdin (S),Bourdin (S),Bourdin (S),Bourdin (S),Bourdin (S),Bourdin (S),Bourdin (S),Bourdin (S),Bourdin (S),Bourdin (S),...,-,-,-,-,-,-,-,nd,-,-

In [179]:
proces_ame_e_hib_total = proces_ame_e_hib_total.iloc[:, 14:]
proces_ame_e_hib_total.head()

,Cultivar,2007 (Ltr),2008 (Ltr),2009 (Ltr),2010 (Ltr),2011 (Ltr),2012 (Ltr),2013 (Ltr),2014 (Ltr),2015 (Ltr),2016 (Ltr),2017 (Ltr),2018 (Ltr),2019 (Ltr),2020 (Ltr),2021 (Ltr)
0,TINTAS,430.628.346,466.504.230,391.196.306,409.514.092,532.937.101,527.332.818,460.738.996,471.555.903,537.592.720,235.356.261,600.605.876,519.506.589,nd,376.136.313,394.224.543
1,Bacarina,12.070,16.780,10.810,7.850,12.930,3.820,2.990,3.900,-,-,-,-,nd,-,-
2,Bailey,236.139,235.828,559.815,604.895,769.140,912.286,756.000,991.449,963.159,442.784,1.370.092,539.742,nd,534.981,4.092.669
3,Bordo,76.907.674,97.644.667,69.521.354,89.066.377,139.754.250,127.378.006,102.788.361,113.008.320,137.467.196,60.976.531,160.146.475,158.405.972,nd,129.978.861,117.655.879
4,Bourdin (S),-,-,-,26.990,-,-,-,-,-,-,-,-,nd,-,-

In [180]:
proces_ame_e_hib_total = proces_ame_e_hib_total.replace("-", 0)
proces_ame_e_hib_total.head()

,Cultivar,2007 (Ltr),2008 (Ltr),2009 (Ltr),2010 (Ltr),2011 (Ltr),2012 (Ltr),2013 (Ltr),2014 (Ltr),2015 (Ltr),2016 (Ltr),2017 (Ltr),2018 (Ltr),2019 (Ltr),2020 (Ltr),2021 (Ltr)
0,TINTAS,430.628.346,466.504.230,391.196.306,409.514.092,532.937.101,527.332.818,460.738.996,471.555.903,537.592.720,235.356.261,600.605.876,519.506.589,nd,376.136.313,394.224.543
1,Bacarina,12.070,16.780,10.810,7.850,12.930,3.820,2.990,3.900,0,0,0,0,nd,0,0
2,Bailey,236.139,235.828,559.815,604.895,769.140,912.286,756.000,991.449,963.159,442.784,1.370.092,539.742,nd,534.981,4.092.669
3,Bordo,76.907.674,97.644.667,69.521.354,89.066.377,139.754.250,127.378.006,102.788.361,113.008.320,137.467.196,60.976.531,160.146.475,158.405.972,nd,129.978.861,117.655.879
4,Bourdin (S),0,0,0,26.990,0,0,0,0,0,0,0,0,nd,0,0

In [181]:
proces_ame_e_hib_total = proces_ame_e_hib_total.set_index(proces_ame_e_hib_total.columns[0])

index_column = proces_ame_e_hib_total.index.name
print(index_column)

Cultivar

In [182]:
proces_ame_e_hib_total.to_excel('proces_ame_e_hib_total.xlsx', index=False)

#1.6 Medias de chuva no Rio Grande Do Sul

In [306]:
import pandas as pd
leitur = pd.read_html('https://pt.wikipedia.org/wiki/Predefini%C3%A7%C3%A3o:Tabela_clim%C3%A1tica_de_Porto_Alegre')
media_de_chuvas_rs = leitur[0]
media_de_chuvas_rs.head()

  Dados climatológicos para Porto Alegre[nota 1]                           \
                                             Mês  Jan  Fev  Mar  Abr  Mai
0                Temperatura máxima recorde (°C)  407  406  389   36  334
1                  Temperatura máxima média (°C)   31  305  292  264  226
2              Temperatura média compensada (°C)   25  247  235  207  172
3                  Temperatura mínima média (°C)  207  207  195  168  136
4                Temperatura mínima recorde (°C)  101  119   96   45   23


    Jun   Jul   Ago  Set  Out  Nov  Dez   Ano
0   316   329   352   38  384  398  403   407
1   203   197   218  228  252  277   30   256
2   148   141   157  172  197  217   24   199
3   113   104   116  133  157  172  194   159
4  −1,9  −1,1  −1,2   22   49   67   10  −1,9

In [307]:
media_de_chuvas_rs = media_de_chuvas_rs.drop([0, 4, 6, 7, 8, 9])

In [308]:
media_de_chuvas_rs.columns

MultiIndex([('Dados climatológicos para Porto Alegre[nota 1]', 'Mês'),
            ('Dados climatológicos para Porto Alegre[nota 1]', 'Jan'),
            ('Dados climatológicos para Porto Alegre[nota 1]', 'Fev'),
            ('Dados climatológicos para Porto Alegre[nota 1]', 'Mar'),
            ('Dados climatológicos para Porto Alegre[nota 1]', 'Abr'),
            ('Dados climatológicos para Porto Alegre[nota 1]', 'Mai'),
            ('Dados climatológicos para Porto Alegre[nota 1]', 'Jun'),
            ('Dados climatológicos para Porto Alegre[nota 1]', 'Jul'),
            ('Dados climatológicos para Porto Alegre[nota 1]', 'Ago'),
            ('Dados climatológicos para Porto Alegre[nota 1]', 'Set'),
            ('Dados climatológicos para Porto Alegre[nota 1]', 'Out'),
            ('Dados climatológicos para Porto Alegre[nota 1]', 'Nov'),
            ('Dados climatológicos para Porto Alegre[nota 1]', 'Dez'),
            ('Dados climatológicos para Porto Alegre[nota 1]', 'Ano')],
           )

In [309]:
media_de_chuvas_rs.columns = media_de_chuvas_rs.columns.droplevel(0)

In [310]:
media_de_chuvas_rs.columns

Index(['Mês', 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set',
       'Out', 'Nov', 'Dez', 'Ano'],
      dtype='object')

In [311]:
media_de_chuvas_rs = media_de_chuvas_rs.drop("Ano", axis=1)
media_de_chuvas_rs

,Mês,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
1,Temperatura máxima média (°C),31,305,292,264,226,203,197,218,228,252,277,30
2,Temperatura média compensada (°C),25,247,235,207,172,148,141,157,172,197,217,24
3,Temperatura mínima média (°C),207,207,195,168,136,113,104,116,133,157,172,194
5,Precipitação (mm),1207,1108,1033,1144,1128,1304,1635,1201,1478,1532,1055,1121

In [312]:
colunas_a_formatar = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez', 'Ano']

def format_decimal(value):
    # Remove special characters and convert to float
    value = float(value.replace(',', '').replace('\xa0', ''))
    return '{:,.2f}'.format(value / 10).replace(',', '.')

for coluna in media_de_chuvas_rs.columns:
    for coluna_formatar in colunas_a_formatar:
        if coluna_formatar in coluna:
            media_de_chuvas_rs[coluna] = media_de_chuvas_rs[coluna].apply(format_decimal)
            break

print(media_de_chuvas_rs)

                                 Mês     Jan     Fev     Mar     Abr     Mai  \
1      Temperatura máxima média (°C)    3.10   30.50   29.20   26.40   22.60
2  Temperatura média compensada (°C)    2.50   24.70   23.50   20.70   17.20
3      Temperatura mínima média (°C)   20.70   20.70   19.50   16.80   13.60
5                  Precipitação (mm)  120.70  110.80  103.30  114.40  112.80

      Jun     Jul     Ago     Set     Out     Nov     Dez
1   20.30   19.70   21.80   22.80   25.20   27.70    3.00
2   14.80   14.10   15.70   17.20   19.70   21.70    2.40
3   11.30   10.40   11.60   13.30   15.70   17.20   19.40
5  130.40  163.50  120.10  147.80  153.20  105.50  112.10

In [313]:
media_de_chuvas_rs

,Mês,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
1,Temperatura máxima média (°C),3.10,30.50,29.20,26.40,22.60,20.30,19.70,21.80,22.80,25.20,27.70,3.00
2,Temperatura média compensada (°C),2.50,24.70,23.50,20.70,17.20,14.80,14.10,15.70,17.20,19.70,21.70,2.40
3,Temperatura mínima média (°C),20.70,20.70,19.50,16.80,13.60,11.30,10.40,11.60,13.30,15.70,17.20,19.40
5,Precipitação (mm),120.70,110.80,103.30,114.40,112.80,130.40,163.50,120.10,147.80,153.20,105.50,112.10

In [314]:
media_de_chuvas_rs.loc[1, 'Jan'] = float(media_de_chuvas_rs.loc[1, 'Jan']) * 10
media_de_chuvas_rs.loc[2, 'Jan'] = float(media_de_chuvas_rs.loc[2, 'Jan']) * 10
media_de_chuvas_rs.loc[1, 'Dez'] = float(media_de_chuvas_rs.loc[1, 'Dez']) * 10
media_de_chuvas_rs.loc[2, 'Dez'] = float(media_de_chuvas_rs.loc[2, 'Dez']) * 10

In [315]:
media_de_chuvas_rs

,Mês,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
1,Temperatura máxima média (°C),31.0,30.50,29.20,26.40,22.60,20.30,19.70,21.80,22.80,25.20,27.70,30.0
2,Temperatura média compensada (°C),25.0,24.70,23.50,20.70,17.20,14.80,14.10,15.70,17.20,19.70,21.70,24.0
3,Temperatura mínima média (°C),20.70,20.70,19.50,16.80,13.60,11.30,10.40,11.60,13.30,15.70,17.20,19.40
5,Precipitação (mm),120.70,110.80,103.30,114.40,112.80,130.40,163.50,120.10,147.80,153.20,105.50,112.10

In [508]:
chuva_2016 = pd.read_html('https://www.embrapa.br/uva-e-vinho/dados-meteorologicos/bento-goncalves/-/asset_publisher/mVb5LKtZvu3R/content/2016-agrometeorologia-bento-goncalves-resumo-anual/1355300?inheritRedirect=false&redirect=https%3A%2F%2Fwww.embrapa.br%2Fuva-e-vinho%2Fdados-meteorologicos%2Fbento-goncalves%3Fp_p_id%3D101_INSTANCE_mVb5LKtZvu3R%26p_p_lifecycle%3D0%26p_p_state%3Dnormal%26p_p_mode%3Dview%26p_p_col_id%3Dcolumn-2%26p_p_col_pos%3D5%26p_p_col_count%3D7')
media_de_chuvas_rs_2016 = chuva_2016[0]
media_de_chuvas_rs_2016.head()

  Bento GonÃ§alves - 2016                                             \
                     MÃS Temperaturas MÃ©dias
                     MÃS           Tmin (ÂºC) Tmax (ÂºC) Tmed (ÂºC)
0                     NaN                  NaN        NaN        NaN
1                     JAN                186.0      284.0      228.0
2                     FEV                191.0      280.0      226.0
3                     MAR                162.0      245.0      196.0
4                     ABR                165.0      248.0      199.0


  Prec (mm) Dias com PrecipitaÃ§Ã£o URmed (%) Vv mÃ©dia (m/s) HF < 7,2Âº
  Prec (mm) Dias com PrecipitaÃ§Ã£o URmed (%) Vv mÃ©dia (m/s) HF < 7,2Âº
0       NaN                     NaN       NaN             NaN        NaN
1     115.0                     7.0     732.0            29.0        0.0
2     146.0                     8.0     792.0            26.0        0.0
3     243.0                    12.0     814.0            28.0        0.0
4     260.0                    13.0     814.0            28.0       61.0

In [509]:
media_de_chuvas_rs_2016 = media_de_chuvas_rs_2016.T
media_de_chuvas_rs_2016.head()

                                                          0      1      2   \
Bento GonÃ§alves - 2016 MÃS                 MÃS        NaN    JAN    FEV
                        Temperaturas MÃ©dias Tmin (ÂºC)  NaN  186.0  191.0
                                             Tmax (ÂºC)  NaN  284.0  280.0
                                             Tmed (ÂºC)  NaN  228.0  226.0
                        Prec (mm)            Prec (mm)   NaN  115.0  146.0

                                                            3      4      5   \
Bento GonÃ§alves - 2016 MÃS                 MÃS          MAR    ABR    MAI
                        Temperaturas MÃ©dias Tmin (ÂºC)  162.0  165.0   96.0
                                             Tmax (ÂºC)  245.0  248.0  167.0
                                             Tmed (ÂºC)  196.0  199.0  126.0
                        Prec (mm)            Prec (mm)   243.0  260.0   60.0

                                                            6      7      8   \
Bento GonÃ§alves - 2016 MÃS                 MÃS          JUN    JUL    AGO
                        Temperaturas MÃ©dias Tmin (ÂºC)   59.0   85.0  102.0
                                             Tmax (ÂºC)  151.0  181.0  196.0
                                             Tmed (ÂºC)  100.0  128.0  145.0
                        Prec (mm)            Prec (mm)     7.0  192.0  111.0

                                                            9      10     11  \
Bento GonÃ§alves - 2016 MÃS                 MÃS          SET    OUT    NOV
                        Temperaturas MÃ©dias Tmin (ÂºC)   96.0  129.0  131.0
                                             Tmax (ÂºC)  205.0  228.0  248.0
                                             Tmed (ÂºC)  142.0  172.0  186.0
                        Prec (mm)            Prec (mm)    84.0  373.0  104.0

                                                            12      13  \
Bento GonÃ§alves - 2016 MÃS                 MÃS          DEZ   Total
                        Temperaturas MÃ©dias Tmin (ÂºC)  172.0     NaN
                                             Tmax (ÂºC)  274.0     NaN
                                             Tmed (ÂºC)  216.0     NaN
                        Prec (mm)            Prec (mm)    81.0  1777.0

                                                             14       15  \
Bento GonÃ§alves - 2016 MÃS                 MÃS        MÃ©dia  MÃ¡xima
                        Temperaturas MÃ©dias Tmin (ÂºC)   131.0    226.0
                                             Tmax (ÂºC)   225.0    340.0
                                             Tmed (ÂºC)   172.0    264.0
                        Prec (mm)            Prec (mm)    148.0      NaN

                                                              16
Bento GonÃ§alves - 2016 MÃS                 MÃS        MÃ­nima
                        Temperaturas MÃ©dias Tmin (ÂºC)    -21.0
                                             Tmax (ÂºC)     75.0
                                             Tmed (ÂºC)     36.0
                        Prec (mm)            Prec (mm)       NaN

In [510]:
media_de_chuvas_rs_2016 = media_de_chuvas_rs_2016.reset_index()  # Remove o índice existente
media_de_chuvas_rs_2016.columns = media_de_chuvas_rs_2016.iloc[0]  # Define a primeira linha como os nomes das colunas
media_de_chuvas_rs_2016 = media_de_chuvas_rs_2016[1:]  # Remove a primeira linha que se tornou o nome das colunas
media_de_chuvas_rs_2016 = media_de_chuvas_rs_2016.set_index('Bento GonÃ§alves - 2016')  # Define a coluna desejada como o novo índice

In [511]:
media_de_chuvas_rs_2016.head()

,MÃS,MÃS,NaN,JAN,FEV,MAR,ABR,MAI,JUN,JUL,AGO,SET,OUT,NOV,DEZ,Total,MÃ©dia,MÃ¡xima,MÃ­nima
Bento GonÃ§alves - 2016,,,,,,,,,,,,,,,,,,,
Bento GonÃ§alves - 2016,Temperaturas MÃ©dias,Tmin (ÂºC),NaN,186.0,191.0,162.0,165.0,96.0,59.0,85.0,102.0,96.0,129.0,131.0,172.0,NaN,131.0,226.0,-21.0
Bento GonÃ§alves - 2016,Temperaturas MÃ©dias,Tmax (ÂºC),NaN,284.0,280.0,245.0,248.0,167.0,151.0,181.0,196.0,205.0,228.0,248.0,274.0,NaN,225.0,340.0,75.0
Bento GonÃ§alves - 2016,Temperaturas MÃ©dias,Tmed (ÂºC),NaN,228.0,226.0,196.0,199.0,126.0,100.0,128.0,145.0,142.0,172.0,186.0,216.0,NaN,172.0,264.0,36.0
Bento GonÃ§alves - 2016,Prec (mm),Prec (mm),NaN,115.0,146.0,243.0,260.0,60.0,7.0,192.0,111.0,84.0,373.0,104.0,81.0,1777.0,148.0,NaN,NaN
Bento GonÃ§alves - 2016,Dias com PrecipitaÃ§Ã£o,Dias com PrecipitaÃ§Ã£o,NaN,7.0,8.0,12.0,13.0,7.0,3.0,7.0,8.0,7.0,11.0,8.0,11.0,102.0,NaN,NaN,NaN

In [512]:
media_de_chuvas_rs_2016.columns

Index([   'MÃS',    'MÃS',       nan,     'JAN',     'FEV',     'MAR',
           'ABR',     'MAI',     'JUN',     'JUL',     'AGO',     'SET',
           'OUT',     'NOV',     'DEZ',   'Total',  'MÃ©dia', 'MÃ¡xima',
       'MÃ­nima'],
      dtype='object', name=0)

In [513]:
media_de_chuvas_rs_2016.columns.values[1] = 'Indice'

In [514]:
media_de_chuvas_rs_2016.columns

Index([   'MÃS',  'Indice',       nan,     'JAN',     'FEV',     'MAR',
           'ABR',     'MAI',     'JUN',     'JUL',     'AGO',     'SET',
           'OUT',     'NOV',     'DEZ',   'Total',  'MÃ©dia', 'MÃ¡xima',
       'MÃ­nima'],
      dtype='object', name=0)

In [515]:
media_de_chuvas_rs_2016 = media_de_chuvas_rs_2016[["Indice", 'JAN', 'FEV', 'MAR', 'ABR', 'MAI', 'JUN', 'JUL', 'AGO', 'SET', 'OUT', 'NOV', 'DEZ']]

In [516]:
media_de_chuvas_rs_2016

,Indice,JAN,FEV,MAR,ABR,MAI,JUN,JUL,AGO,SET,OUT,NOV,DEZ
Bento GonÃ§alves - 2016,,,,,,,,,,,,,
Bento GonÃ§alves - 2016,Tmin (ÂºC),186.0,191.0,162.0,165.0,96.0,59.0,85.0,102.0,96.0,129.0,131.0,172.0
Bento GonÃ§alves - 2016,Tmax (ÂºC),284.0,280.0,245.0,248.0,167.0,151.0,181.0,196.0,205.0,228.0,248.0,274.0
Bento GonÃ§alves - 2016,Tmed (ÂºC),228.0,226.0,196.0,199.0,126.0,100.0,128.0,145.0,142.0,172.0,186.0,216.0
Bento GonÃ§alves - 2016,Prec (mm),115.0,146.0,243.0,260.0,60.0,7.0,192.0,111.0,84.0,373.0,104.0,81.0
Bento GonÃ§alves - 2016,Dias com PrecipitaÃ§Ã£o,7.0,8.0,12.0,13.0,7.0,3.0,7.0,8.0,7.0,11.0,8.0,11.0
Bento GonÃ§alves - 2016,URmed (%),732.0,792.0,814.0,814.0,860.0,782.0,775.0,746.0,741.0,761.0,709.0,732.0
Bento GonÃ§alves - 2016,Vv mÃ©dia (m/s),29.0,26.0,28.0,28.0,23.0,21.0,30.0,28.0,29.0,33.0,28.0,28.0
Bento GonÃ§alves - 2016,"HF < 7,2Âº",0.0,0.0,0.0,61.0,57.0,226.0,143.0,32.0,11.0,0.0,6.0,0.0

In [517]:
media_de_chuvas_rs_2016 = media_de_chuvas_rs_2016.reset_index(drop=True)

In [518]:
media_de_chuvas_rs_2016

,Indice,JAN,FEV,MAR,ABR,MAI,JUN,JUL,AGO,SET,OUT,NOV,DEZ
0,Tmin (ÂºC),186.0,191.0,162.0,165.0,96.0,59.0,85.0,102.0,96.0,129.0,131.0,172.0
1,Tmax (ÂºC),284.0,280.0,245.0,248.0,167.0,151.0,181.0,196.0,205.0,228.0,248.0,274.0
2,Tmed (ÂºC),228.0,226.0,196.0,199.0,126.0,100.0,128.0,145.0,142.0,172.0,186.0,216.0
3,Prec (mm),115.0,146.0,243.0,260.0,60.0,7.0,192.0,111.0,84.0,373.0,104.0,81.0
4,Dias com PrecipitaÃ§Ã£o,7.0,8.0,12.0,13.0,7.0,3.0,7.0,8.0,7.0,11.0,8.0,11.0
5,URmed (%),732.0,792.0,814.0,814.0,860.0,782.0,775.0,746.0,741.0,761.0,709.0,732.0
6,Vv mÃ©dia (m/s),29.0,26.0,28.0,28.0,23.0,21.0,30.0,28.0,29.0,33.0,28.0,28.0
7,"HF < 7,2Âº",0.0,0.0,0.0,61.0,57.0,226.0,143.0,32.0,11.0,0.0,6.0,0.0

In [519]:
media_de_chuvas_rs_2016.drop(index=[4, 5, 6, 7], inplace=True)

In [520]:
media_de_chuvas_rs_2016

,Indice,JAN,FEV,MAR,ABR,MAI,JUN,JUL,AGO,SET,OUT,NOV,DEZ
0,Tmin (ÂºC),186.0,191.0,162.0,165.0,96.0,59.0,85.0,102.0,96.0,129.0,131.0,172.0
1,Tmax (ÂºC),284.0,280.0,245.0,248.0,167.0,151.0,181.0,196.0,205.0,228.0,248.0,274.0
2,Tmed (ÂºC),228.0,226.0,196.0,199.0,126.0,100.0,128.0,145.0,142.0,172.0,186.0,216.0
3,Prec (mm),115.0,146.0,243.0,260.0,60.0,7.0,192.0,111.0,84.0,373.0,104.0,81.0

In [527]:
def move_ponto_esquerda(valor):
    if isinstance(valor, float):
        return valor / 10
    else:
        return valor

media_de_chuvas_rs_2016.iloc[0:3, 1:] = media_de_chuvas_rs_2016.iloc[0:3, 1:].applymap(move_ponto_esquerda)

media_de_chuvas_rs_2016.head()

,Indice,JAN,FEV,MAR,ABR,MAI,JUN,JUL,AGO,SET,OUT,NOV,DEZ
0,Tmin (ÂºC),18.6,19.1,16.2,16.5,9.6,5.9,8.5,10.2,9.6,12.9,13.1,17.2
1,Tmax (ÂºC),28.4,28.0,24.5,24.8,16.7,15.1,18.1,19.6,20.5,22.8,24.8,27.4
2,Tmed (ÂºC),22.8,22.6,19.6,19.9,12.6,10.0,12.8,14.5,14.2,17.2,18.6,21.6
3,Prec (mm),115.0,146.0,243.0,260.0,60.0,7.0,192.0,111.0,84.0,373.0,104.0,81.0

#2.1 Visualização da produção