In [1]:
import pandas as pd

## 1 Extração dos dados

#1.1 Produção de 2007 até 2021

In [2]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2007&opcao=opt_02')
producao2007 = leitura[5]
producao2007.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     275.287.908
1                           Tinto     228.156.220
2                          Branco      42.118.552
3                          Rosado       5.013.136
4  VINHO FINO DE MESA (VINÃFERA)      43.176.484

In [3]:
producao2007 = producao2007.rename(columns={"Quantidade (L.)" : "2007"})
producao2007.head()

                          Produto         2007
0                   VINHO DE MESA  275.287.908
1                           Tinto  228.156.220
2                          Branco   42.118.552
3                          Rosado    5.013.136
4  VINHO FINO DE MESA (VINÃFERA)   43.176.484

In [4]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2008&opcao=opt_02')
producao2008 = leitura[5]
producao2008.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     287.506.811
1                           Tinto     241.057.928
2                          Branco      42.942.053
3                          Rosado       3.506.830
4  VINHO FINO DE MESA (VINÃFERA)      47.334.501

In [5]:
producao2008 = producao2008.rename(columns={"Quantidade (L.)" : "2008"})
producao2008.head()

                          Produto         2008
0                   VINHO DE MESA  287.506.811
1                           Tinto  241.057.928
2                          Branco   42.942.053
3                          Rosado    3.506.830
4  VINHO FINO DE MESA (VINÃFERA)   47.334.501

In [6]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2009&opcao=opt_02')
producao2009 = leitura[5]
producao2009.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     205.418.206
1                           Tinto     164.143.454
2                          Branco      39.211.278
3                          Rosado       2.063.474
4  VINHO FINO DE MESA (VINÃFERA)      39.900.568

In [7]:
producao2009 = producao2009.rename(columns={"Quantidade (L.)" : "2009"})
producao2009.head()

                          Produto         2009
0                   VINHO DE MESA  205.418.206
1                           Tinto  164.143.454
2                          Branco   39.211.278
3                          Rosado    2.063.474
4  VINHO FINO DE MESA (VINÃFERA)   39.900.568

In [8]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2010&opcao=opt_02')
producao2010 = leitura[5]
producao2010.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     195.267.980
1                           Tinto     157.290.088
2                          Branco      35.408.083
3                          Rosado       2.569.809
4  VINHO FINO DE MESA (VINÃFERA)      24.805.713

In [9]:
producao2010 = producao2010.rename(columns={"Quantidade (L.)" : "2010"})
producao2010.head()

                          Produto         2010
0                   VINHO DE MESA  195.267.980
1                           Tinto  157.290.088
2                          Branco   35.408.083
3                          Rosado    2.569.809
4  VINHO FINO DE MESA (VINÃFERA)   24.805.713

In [10]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2011&opcao=opt_02')
producao2011 = leitura[5]
producao2011.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     257.840.749
1                           Tinto     210.113.358
2                          Branco      46.007.504
3                          Rosado       1.719.887
4  VINHO FINO DE MESA (VINÃFERA)      47.598.471

In [11]:
producao2011 = producao2011.rename(columns={"Quantidade (L.)" : "2011"})
producao2011.head()

                          Produto         2011
0                   VINHO DE MESA  257.840.749
1                           Tinto  210.113.358
2                          Branco   46.007.504
3                          Rosado    1.719.887
4  VINHO FINO DE MESA (VINÃFERA)   47.598.471

In [12]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2012&opcao=opt_02')
producao2012 = leitura[5]
producao2012.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     212.777.037
1                           Tinto     175.875.432
2                          Branco      34.938.249
3                          Rosado       1.963.356
4  VINHO FINO DE MESA (VINÃFERA)      45.200.730

In [13]:
producao2012 = producao2012.rename(columns={"Quantidade (L.)" : "2012"})
producao2012.head()

                          Produto         2012
0                   VINHO DE MESA  212.777.037
1                           Tinto  175.875.432
2                          Branco   34.938.249
3                          Rosado    1.963.356
4  VINHO FINO DE MESA (VINÃFERA)   45.200.730

In [14]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2013&opcao=opt_02')
producao2013 = leitura[5]
producao2013.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     196.904.222
1                           Tinto     163.111.797
2                          Branco      32.066.403
3                          Rosado       1.726.022
4  VINHO FINO DE MESA (VINÃFERA)      45.782.530

In [15]:
producao2013 = producao2013.rename(columns={"Quantidade (L.)" : "2013"})
producao2013.head()

                          Produto         2013
0                   VINHO DE MESA  196.904.222
1                           Tinto  163.111.797
2                          Branco   32.066.403
3                          Rosado    1.726.022
4  VINHO FINO DE MESA (VINÃFERA)   45.782.530

In [16]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2014&opcao=opt_02')
producao2014 = leitura[5]
producao2014.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     196.173.123
1                           Tinto     157.776.363
2                          Branco      37.438.069
3                          Rosado         958.691
4  VINHO FINO DE MESA (VINÃFERA)      38.464.314

In [17]:
producao2014 = producao2014.rename(columns={"Quantidade (L.)" : "2014"})
producao2014.head()

                          Produto         2014
0                   VINHO DE MESA  196.173.123
1                           Tinto  157.776.363
2                          Branco   37.438.069
3                          Rosado      958.691
4  VINHO FINO DE MESA (VINÃFERA)   38.464.314

In [18]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2015&opcao=opt_02')
producao2015 = leitura[5]
producao2015.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     210.308.560
1                           Tinto     169.811.472
2                          Branco      39.557.250
3                          Rosado         939.838
4  VINHO FINO DE MESA (VINÃFERA)      37.148.982

In [19]:
producao2015 = producao2015.rename(columns={"Quantidade (L.)" : "2015"})
producao2015.head()

                          Produto         2015
0                   VINHO DE MESA  210.308.560
1                           Tinto  169.811.472
2                          Branco   39.557.250
3                          Rosado      939.838
4  VINHO FINO DE MESA (VINÃFERA)   37.148.982

In [20]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2016&opcao=opt_02')
producao2016 = leitura[5]
producao2016.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA      86.319.015
1                           Tinto      75.279.191
2                          Branco      10.727.099
3                          Rosado         312.725
4  VINHO FINO DE MESA (VINÃFERA)      18.070.626

In [21]:
producao2016 = producao2016.rename(columns={"Quantidade (L.)" : "2016"})
producao2016.head()

                          Produto        2016
0                   VINHO DE MESA  86.319.015
1                           Tinto  75.279.191
2                          Branco  10.727.099
3                          Rosado     312.725
4  VINHO FINO DE MESA (VINÃFERA)  18.070.626

In [22]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2017&opcao=opt_02')
producao2017 = leitura[5]
producao2017.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     255.015.187
1                           Tinto       1.365.957
2                          Branco     217.527.985
3                          Rosado      36.121.245
4  VINHO FINO DE MESA (VINÃFERA)      44.537.870

In [23]:
producao2017 = producao2017.rename(columns={"Quantidade (L.)" : "2017"})
producao2017.head()

                          Produto         2017
0                   VINHO DE MESA  255.015.187
1                           Tinto    1.365.957
2                          Branco  217.527.985
3                          Rosado   36.121.245
4  VINHO FINO DE MESA (VINÃFERA)   44.537.870

In [24]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2018&opcao=opt_02')
producao2018 = leitura[5]
producao2018.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     218.375.636
1                           Tinto     188.270.142
2                          Branco      29.229.970
3                          Rosado         875.524
4  VINHO FINO DE MESA (VINÃFERA)      38.707.220

In [25]:
producao2018 = producao2018.rename(columns={"Quantidade (L.)" : "2018"})
producao2018.head()

                          Produto         2018
0                   VINHO DE MESA  218.375.636
1                           Tinto  188.270.142
2                          Branco   29.229.970
3                          Rosado      875.524
4  VINHO FINO DE MESA (VINÃFERA)   38.707.220

In [26]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2019&opcao=opt_02')
producao2019 = leitura[5]
producao2019.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     144.629.737
1                           Tinto     121.045.115
2                          Branco      22.032.828
3                          Rosado       1.551.794
4  VINHO FINO DE MESA (VINÃFERA)      37.615.422

In [27]:
producao2019 = producao2019.rename(columns={"Quantidade (L.)" : "2019"})
producao2019.head()

                          Produto         2019
0                   VINHO DE MESA  144.629.737
1                           Tinto  121.045.115
2                          Branco   22.032.828
3                          Rosado    1.551.794
4  VINHO FINO DE MESA (VINÃFERA)   37.615.422

In [28]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2020&opcao=opt_02')
producao2020 = leitura[5]
producao2020.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     124.200.414
1                           Tinto     103.916.391
2                          Branco      19.568.734
3                          Rosado         715.289
4  VINHO FINO DE MESA (VINÃFERA)      32.516.686

In [29]:
producao2020 = producao2020.rename(columns={"Quantidade (L.)" : "2020"})
producao2020.head()

                          Produto         2020
0                   VINHO DE MESA  124.200.414
1                           Tinto  103.916.391
2                          Branco   19.568.734
3                          Rosado      715.289
4  VINHO FINO DE MESA (VINÃFERA)   32.516.686

In [30]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2021&opcao=opt_02')
producao2021 = leitura[5]
producao2021.head()

                          Produto Quantidade (L.)
0                   VINHO DE MESA     173.899.995
1                           Tinto     146.075.996
2                          Branco      26.432.799
3                          Rosado       1.391.200
4  VINHO FINO DE MESA (VINÃFERA)      43.474.998

In [31]:
producao2021 = producao2021.rename(columns={"Quantidade (L.)" : "2021"})
producao2021.head()

                          Produto         2021
0                   VINHO DE MESA  173.899.995
1                           Tinto  146.075.996
2                          Branco   26.432.799
3                          Rosado    1.391.200
4  VINHO FINO DE MESA (VINÃFERA)   43.474.998

In [32]:
producao_total = pd.concat([producao2007, producao2008, producao2009, producao2010, producao2011, producao2012, producao2013,
                            producao2014, producao2015, producao2016, producao2017, producao2018, producao2019, producao2020, producao2021], axis=1)
producao_total.head()

,Produto,2007,Produto,2008,Produto,2009,Produto,2010,Produto,2011,...,Produto,2017,Produto,2018,Produto,2019,Produto,2020,Produto,2021
0,VINHO DE MESA,275.287.908,VINHO DE MESA,287.506.811,VINHO DE MESA,205.418.206,VINHO DE MESA,195.267.980,VINHO DE MESA,257.840.749,...,VINHO DE MESA,255.015.187,VINHO DE MESA,218.375.636,VINHO DE MESA,144.629.737,VINHO DE MESA,124.200.414,VINHO DE MESA,173.899.995
1,Tinto,228.156.220,Tinto,241.057.928,Tinto,164.143.454,Tinto,157.290.088,Tinto,210.113.358,...,Tinto,1.365.957,Tinto,188.270.142,Tinto,121.045.115,Tinto,103.916.391,Tinto,146.075.996
2,Branco,42.118.552,Branco,42.942.053,Branco,39.211.278,Branco,35.408.083,Branco,46.007.504,...,Branco,217.527.985,Branco,29.229.970,Branco,22.032.828,Branco,19.568.734,Branco,26.432.799
3,Rosado,5.013.136,Rosado,3.506.830,Rosado,2.063.474,Rosado,2.569.809,Rosado,1.719.887,...,Rosado,36.121.245,Rosado,875.524,Rosado,1.551.794,Rosado,715.289,Rosado,1.391.200
4,VINHO FINO DE MESA (VINÃFERA),43.176.484,VINHO FINO DE MESA (VINÃFERA),47.334.501,VINHO FINO DE MESA (VINÃFERA),39.900.568,VINHO FINO DE MESA (VINÃFERA),24.805.713,VINHO FINO DE MESA (VINÃFERA),47.598.471,...,VINHO FINO DE MESA (VINÃFERA),44.537.870,VINHO FINO DE MESA (VINÃFERA),38.707.220,VINHO FINO DE MESA (VINÃFERA),37.615.422,VINHO FINO DE MESA (VINÃFERA),32.516.686,VINHO FINO DE MESA (VINÃFERA),43.474.998

In [33]:
producao_total.to_excel('producao_total.xlsx', index=False)

# 1.2 exportação de Vinho de 2007 até 2021

In [34]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2007&opcao=opt_06&subopcao=subopt_01')
exportacao2007 = leitura[5]
exportacao2007.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica         119.512     238.052
3                             Angola          25.931      49.753
4                           Anguilla               -           -

In [35]:
exportacao2007 = exportacao2007.rename(columns={"Quantidade (Kg)" : "2007 (Ltr)", "Valor (US$)" : "2007 Valor (USD)"})
exportacao2007.head()

                             PaÃ­ses 2007 (Ltr) 2007 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica    119.512          238.052
3                             Angola     25.931           49.753
4                           Anguilla          -                -

In [36]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2008&opcao=opt_06&subopcao=subopt_01')
exportacao2008 = leitura[5]
exportacao2008.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica         265.742     429.970
3                             Angola          25.721      71.083
4                           Anguilla               -           -

In [37]:
exportacao2008 = exportacao2008.rename(columns={"Quantidade (Kg)" : "2008 (Ltr)", "Valor (US$)" : "2008 Valor (USD)"})
exportacao2008.head()

                             PaÃ­ses 2008 (Ltr) 2008 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica    265.742          429.970
3                             Angola     25.721           71.083
4                           Anguilla          -                -

In [38]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2009&opcao=opt_06&subopcao=subopt_01')
exportacao2009 = leitura[5]
exportacao2009.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica         225.086     393.482
3                             Angola          54.786      84.235
4                           Anguilla               -           -

In [39]:
exportacao2009 = exportacao2009.rename(columns={"Quantidade (Kg)" : "2009 (Ltr)", "Valor (US$)" : "2009 Valor (USD)"})
exportacao2009.head()

                             PaÃ­ses 2009 (Ltr) 2009 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica    225.086          393.482
3                             Angola     54.786           84.235
4                           Anguilla          -                -

In [40]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2010&opcao=opt_06&subopcao=subopt_01')
exportacao2010 = leitura[5]
exportacao2010.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica          27.715     138.666
3                             Angola          33.557     189.891
4                           Anguilla               -           -

In [41]:
exportacao2010 = exportacao2010.rename(columns={"Quantidade (Kg)" : "2010 (Ltr)", "Valor (US$)" : "2010 Valor (USD)"})
exportacao2010.head()

                             PaÃ­ses 2010 (Ltr) 2010 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica     27.715          138.666
3                             Angola     33.557          189.891
4                           Anguilla          -                -

In [42]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2011&opcao=opt_06&subopcao=subopt_01')
exportacao2011 = leitura[5]
exportacao2011.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica          36.070     144.150
3                             Angola          13.889      69.001
4                           Anguilla               -           -

In [43]:
exportacao2011 = exportacao2011.rename(columns={"Quantidade (Kg)" : "2011 (Ltr)", "Valor (US$)" : "2011 Valor (USD)"})
exportacao2011.head()

                             PaÃ­ses 2011 (Ltr) 2011 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica     36.070          144.150
3                             Angola     13.889           69.001
4                           Anguilla          -                -

In [44]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2012&opcao=opt_06&subopcao=subopt_01')
exportacao2012 = leitura[5]
exportacao2012.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica           8.189      56.342
3                             Angola           2.833       8.861
4                           Anguilla               -           -

In [45]:
exportacao2012 = exportacao2012.rename(columns={"Quantidade (Kg)" : "2012 (Ltr)", "Valor (US$)" : "2012 Valor (USD)"})
exportacao2012.head()

                             PaÃ­ses 2012 (Ltr) 2012 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica      8.189           56.342
3                             Angola      2.833            8.861
4                           Anguilla          -                -

In [46]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2013&opcao=opt_06&subopcao=subopt_01')
exportacao2013 = leitura[5]
exportacao2013.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica          61.699     265.978
3                             Angola           1.573       9.300
4                           Anguilla               -           -

In [47]:
exportacao2013 = exportacao2013.rename(columns={"Quantidade (Kg)" : "2013 (Ltr)", "Valor (US$)" : "2013 Valor (USD)"})
exportacao2013.head()

                             PaÃ­ses 2013 (Ltr) 2013 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica     61.699          265.978
3                             Angola      1.573            9.300
4                           Anguilla          -                -

In [48]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2014&opcao=opt_06&subopcao=subopt_01')
exportacao2014 = leitura[5]
exportacao2014.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica         213.348     761.653
3                             Angola          12.182      23.124
4                           Anguilla               -           -

In [49]:
exportacao2014 = exportacao2014.rename(columns={"Quantidade (Kg)" : "2014 (Ltr)", "Valor (US$)" : "2014 Valor (USD)"})
exportacao2014.head()

                             PaÃ­ses 2014 (Ltr) 2014 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica    213.348          761.653
3                             Angola     12.182           23.124
4                           Anguilla          -                -

In [50]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2015&opcao=opt_06&subopcao=subopt_01')
exportacao2015 = leitura[5]
exportacao2015.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica          10.680      44.780
3                             Angola           1.908      17.089
4                           Anguilla               -           -

In [51]:
exportacao2015 = exportacao2015.rename(columns={"Quantidade (Kg)" : "2015 (Ltr)", "Valor (US$)" : "2015 Valor (USD)"})
exportacao2015.head()

                             PaÃ­ses 2015 (Ltr) 2015 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica     10.680           44.780
3                             Angola      1.908           17.089
4                           Anguilla          -                -

In [52]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2016&opcao=opt_06&subopcao=subopt_01')
exportacao2016 = leitura[5]
exportacao2016.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica          14.012      68.109
3                             Angola           7.359      35.390
4                           Anguilla               -           -

In [53]:
exportacao2016 = exportacao2016.rename(columns={"Quantidade (Kg)" : "2016 (Ltr)", "Valor (US$)" : "2016 Valor (USD)"})
exportacao2016.head()

                             PaÃ­ses 2016 (Ltr) 2016 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica     14.012           68.109
3                             Angola      7.359           35.390
4                           Anguilla          -                -

In [54]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2017&opcao=opt_06&subopcao=subopt_01')
exportacao2017 = leitura[5]
exportacao2017.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica          15.467      87.702
3                             Angola          10.170      61.680
4                           Anguilla               -           -

In [55]:
exportacao2017 = exportacao2017.rename(columns={"Quantidade (Kg)" : "2017 (Ltr)", "Valor (US$)" : "2017 Valor (USD)"})
exportacao2017.head()

                             PaÃ­ses 2017 (Ltr) 2017 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica     15.467           87.702
3                             Angola     10.170           61.680
4                           Anguilla          -                -

In [56]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2018&opcao=opt_06&subopcao=subopt_01')
exportacao2018 = leitura[5]
exportacao2018.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica          10.794      45.382
3                             Angola             477         709
4                           Anguilla               -           -

In [57]:
exportacao2018 = exportacao2018.rename(columns={"Quantidade (Kg)" : "2018 (Ltr)", "Valor (US$)" : "2018 Valor (USD)"})
exportacao2018.head()

                             PaÃ­ses 2018 (Ltr) 2018 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica     10.794           45.382
3                             Angola        477              709
4                           Anguilla          -                -

In [58]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2019&opcao=opt_06&subopcao=subopt_01')
exportacao2019 = leitura[5]
exportacao2019.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul              26          95
2  Alemanha, RepÃºblica DemocrÃ¡tica           3.660      25.467
3                             Angola             345       1.065
4                           Anguilla               -           -

In [59]:
exportacao2019 = exportacao2019.rename(columns={"Quantidade (Kg)" : "2019 (Ltr)", "Valor (US$)" : "2019 Valor (USD)"})
exportacao2019.head()

                             PaÃ­ses 2019 (Ltr) 2019 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul         26               95
2  Alemanha, RepÃºblica DemocrÃ¡tica      3.660           25.467
3                             Angola        345            1.065
4                           Anguilla          -                -

In [60]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2020&opcao=opt_06&subopcao=subopt_01')
exportacao2020 = leitura[5]
exportacao2020.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o               -           -
1                     Ãfrica do Sul               4          21
2  Alemanha, RepÃºblica DemocrÃ¡tica           6.261      32.605
3                             Angola               -           -
4                           Anguilla               -           -

In [61]:
exportacao2020 = exportacao2020.rename(columns={"Quantidade (Kg)" : "2020 (Ltr)", "Valor (US$)" : "2020 Valor (USD)"})
exportacao2020.head()

                             PaÃ­ses 2020 (Ltr) 2020 Valor (USD)
0                       AfeganistÃ£o          -                -
1                     Ãfrica do Sul          4               21
2  Alemanha, RepÃºblica DemocrÃ¡tica      6.261           32.605
3                             Angola          -                -
4                           Anguilla          -                -

In [62]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2021&opcao=opt_06&subopcao=subopt_01')
exportacao2021 = leitura[5]
exportacao2021.head()

                             PaÃ­ses Quantidade (Kg) Valor (US$)
0                       AfeganistÃ£o              11          46
1                     Ãfrica do Sul               -           -
2  Alemanha, RepÃºblica DemocrÃ¡tica           2.698       6.741
3                             Angola               -           -
4                           Anguilla               -           -

In [63]:
exportacao2021 = exportacao2021.rename(columns={"Quantidade (Kg)" : "2021 (Ltr)", "Valor (US$)" : "2021 Valor (USD)"})
exportacao2021.head()

                             PaÃ­ses 2021 (Ltr) 2021 Valor (USD)
0                       AfeganistÃ£o         11               46
1                     Ãfrica do Sul          -                -
2  Alemanha, RepÃºblica DemocrÃ¡tica      2.698            6.741
3                             Angola          -                -
4                           Anguilla          -                -

In [64]:
exportacao_total = pd.concat([exportacao2007, exportacao2008, exportacao2009, exportacao2010, exportacao2011, exportacao2012, exportacao2013,
                            exportacao2014, exportacao2015, exportacao2016, exportacao2017, exportacao2018, exportacao2019, exportacao2020, exportacao2021], axis=1)
exportacao_total.head()

,PaÃ­ses,2007 (Ltr),2007 Valor (USD),PaÃ­ses,2008 (Ltr),2008 Valor (USD),PaÃ­ses,2009 (Ltr),2009 Valor (USD),PaÃ­ses,...,2018 Valor (USD),PaÃ­ses,2019 (Ltr),2019 Valor (USD),PaÃ­ses,2020 (Ltr),2020 Valor (USD),PaÃ­ses,2021 (Ltr),2021 Valor (USD)
0,AfeganistÃ£o,-,-,AfeganistÃ£o,-,-,AfeganistÃ£o,-,-,AfeganistÃ£o,...,-,AfeganistÃ£o,-,-,AfeganistÃ£o,-,-,AfeganistÃ£o,11,46
1,Ãfrica do Sul,-,-,Ãfrica do Sul,-,-,Ãfrica do Sul,-,-,Ãfrica do Sul,...,-,Ãfrica do Sul,26,95,Ãfrica do Sul,4,21,Ãfrica do Sul,-,-
2,"Alemanha, RepÃºblica DemocrÃ¡tica",119.512,238.052,"Alemanha, RepÃºblica DemocrÃ¡tica",265.742,429.970,"Alemanha, RepÃºblica DemocrÃ¡tica",225.086,393.482,"Alemanha, RepÃºblica DemocrÃ¡tica",...,45.382,"Alemanha, RepÃºblica DemocrÃ¡tica",3.660,25.467,"Alemanha, RepÃºblica DemocrÃ¡tica",6.261,32.605,"Alemanha, RepÃºblica DemocrÃ¡tica",2.698,6.741
3,Angola,25.931,49.753,Angola,25.721,71.083,Angola,54.786,84.235,Angola,...,709,Angola,345,1.065,Angola,-,-,Angola,-,-
4,Anguilla,-,-,Anguilla,-,-,Anguilla,-,-,Anguilla,...,-,Anguilla,-,-,Anguilla,-,-,Anguilla,-,-

In [65]:
exportacao_total.to_excel('exportacao_total.xlsx', index=False)

# 1.3 Exportação espumantes de 2007 até 2021

In [66]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2007&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2007 = leitura[5]
exportacao_esp_2007.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           3.547      10.192
1               Angola           6.293      26.252
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [67]:
exportacao_esp_2007 = exportacao_esp_2007.rename(columns={"Quantidade (Kg)" : "2007 (Ltr)", "Valor (US$)" : "2007 Valor (USD)"})
exportacao_esp_2007.head()

               PaÃ­ses 2007 (Ltr) 2007 Valor (USD)
0             Alemanha      3.547           10.192
1               Angola      6.293           26.252
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [68]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2008&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2008 = leitura[5]
exportacao_esp_2008.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           5.423      20.928
1               Angola           2.244      10.581
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [69]:
exportacao_esp_2008 = exportacao_esp_2008.rename(columns={"Quantidade (Kg)" : "2008 (Ltr)", "Valor (US$)" : "2008 Valor (USD)"})
exportacao_esp_2008.head()

               PaÃ­ses 2008 (Ltr) 2008 Valor (USD)
0             Alemanha      5.423           20.928
1               Angola      2.244           10.581
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [70]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2009&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2009 = leitura[5]
exportacao_esp_2009.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           6.648      29.018
1               Angola          11.393      33.664
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas             180       1.660
4            Argentina               -           -

In [71]:
exportacao_esp_2009 = exportacao_esp_2009.rename(columns={"Quantidade (Kg)" : "2009 (Ltr)", "Valor (US$)" : "2009 Valor (USD)"})
exportacao_esp_2009.head()

               PaÃ­ses 2009 (Ltr) 2009 Valor (USD)
0             Alemanha      6.648           29.018
1               Angola     11.393           33.664
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas        180            1.660
4            Argentina          -                -

In [72]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2010&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2010 = leitura[5]
exportacao_esp_2010.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           1.958       6.877
1               Angola         104.138     672.533
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [73]:
exportacao_esp_2010 = exportacao_esp_2010.rename(columns={"Quantidade (Kg)" : "2010 (Ltr)", "Valor (US$)" : "2010 Valor (USD)"})
exportacao_esp_2010.head()

               PaÃ­ses 2010 (Ltr) 2010 Valor (USD)
0             Alemanha      1.958            6.877
1               Angola    104.138          672.533
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [74]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2011&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2011 = leitura[5]
exportacao_esp_2011.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           1.976      12.018
1               Angola             904      14.196
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas           9.144      65.766
4            Argentina               -           -

In [75]:
exportacao_esp_2011 = exportacao_esp_2011.rename(columns={"Quantidade (Kg)" : "2011 (Ltr)", "Valor (US$)" : "2011 Valor (USD)"})
exportacao_esp_2011.head()

               PaÃ­ses 2011 (Ltr) 2011 Valor (USD)
0             Alemanha      1.976           12.018
1               Angola        904           14.196
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas      9.144           65.766
4            Argentina          -                -

In [76]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2012&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2012 = leitura[5]
exportacao_esp_2012.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha             833       5.072
1               Angola              73       1.426
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [77]:
exportacao_esp_2012 = exportacao_esp_2012.rename(columns={"Quantidade (Kg)" : "2012 (Ltr)", "Valor (US$)" : "2012 Valor (USD)"})
exportacao_esp_2012.head()

               PaÃ­ses 2012 (Ltr) 2012 Valor (USD)
0             Alemanha        833            5.072
1               Angola         73            1.426
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [78]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2013&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2013 = leitura[5]
exportacao_esp_2013.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           5.809      30.461
1               Angola           5.850      21.060
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [79]:
exportacao_esp_2013 = exportacao_esp_2013.rename(columns={"Quantidade (Kg)" : "2013 (Ltr)", "Valor (US$)" : "2013 Valor (USD)"})
exportacao_esp_2013.head()

               PaÃ­ses 2013 (Ltr) 2013 Valor (USD)
0             Alemanha      5.809           30.461
1               Angola      5.850           21.060
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [80]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2014&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2014 = leitura[5]
exportacao_esp_2014.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           9.236      62.169
1               Angola           6.866      22.423
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [81]:
exportacao_esp_2014 = exportacao_esp_2014.rename(columns={"Quantidade (Kg)" : "2014 (Ltr)", "Valor (US$)" : "2014 Valor (USD)"})
exportacao_esp_2014.head()

               PaÃ­ses 2014 (Ltr) 2014 Valor (USD)
0             Alemanha      9.236           62.169
1               Angola      6.866           22.423
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [82]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2015&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2015 = leitura[5]
exportacao_esp_2015.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           6.256      30.939
1               Angola               -           -
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [83]:
exportacao_esp_2015 = exportacao_esp_2015.rename(columns={"Quantidade (Kg)" : "2015 (Ltr)", "Valor (US$)" : "2015 Valor (USD)"})
exportacao_esp_2015.head()

               PaÃ­ses 2015 (Ltr) 2015 Valor (USD)
0             Alemanha      6.256           30.939
1               Angola          -                -
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [84]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2016&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2016 = leitura[5]
exportacao_esp_2016.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           4.293      19.088
1               Angola              90       1.010
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [85]:
exportacao_esp_2016 = exportacao_esp_2016.rename(columns={"Quantidade (Kg)" : "2016 (Ltr)", "Valor (US$)" : "2016 Valor (USD)"})
exportacao_esp_2016.head()

               PaÃ­ses 2016 (Ltr) 2016 Valor (USD)
0             Alemanha      4.293           19.088
1               Angola         90            1.010
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [86]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2017&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2017 = leitura[5]
exportacao_esp_2017.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           4.824      28.799
1               Angola               -           -
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [87]:
exportacao_esp_2017 = exportacao_esp_2017.rename(columns={"Quantidade (Kg)" : "2017 (Ltr)", "Valor (US$)" : "2017 Valor (USD)"})
exportacao_esp_2017.head()

               PaÃ­ses 2017 (Ltr) 2017 Valor (USD)
0             Alemanha      4.824           28.799
1               Angola          -                -
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [88]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2018&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2018 = leitura[5]
exportacao_esp_2018.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           4.092      21.373
1               Angola              63         280
2    Antigua e Barbuda               -           -
3  Antilhas Holandesas               -           -
4            Argentina           4.342      17.243

In [89]:
exportacao_esp_2018 = exportacao_esp_2018.rename(columns={"Quantidade (Kg)" : "2018 (Ltr)", "Valor (US$)" : "2018 Valor (USD)"})
exportacao_esp_2018.head()

               PaÃ­ses 2018 (Ltr) 2018 Valor (USD)
0             Alemanha      4.092           21.373
1               Angola         63              280
2    Antigua e Barbuda          -                -
3  Antilhas Holandesas          -                -
4            Argentina      4.342           17.243

In [90]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2019&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2019 = leitura[5]
exportacao_esp_2019.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           1.003       5.466
1               Angola           1.007       3.615
2    Antigua e Barbuda               7          34
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [91]:
exportacao_esp_2019 = exportacao_esp_2019.rename(columns={"Quantidade (Kg)" : "2019 (Ltr)", "Valor (US$)" : "2019 Valor (USD)"})
exportacao_esp_2019.head()

               PaÃ­ses 2019 (Ltr) 2019 Valor (USD)
0             Alemanha      1.003            5.466
1               Angola      1.007            3.615
2    Antigua e Barbuda          7               34
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [92]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2020&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2020 = leitura[5]
exportacao_esp_2020.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha           2.388      14.767
1               Angola              24          38
2    Antigua e Barbuda              32         328
3  Antilhas Holandesas               -           -
4            Argentina             315         894

In [93]:
exportacao_esp_2020 = exportacao_esp_2020.rename(columns={"Quantidade (Kg)" : "2020 (Ltr)", "Valor (US$)" : "2020 Valor (USD)"})
exportacao_esp_2020.head()

               PaÃ­ses 2020 (Ltr) 2020 Valor (USD)
0             Alemanha      2.388           14.767
1               Angola         24               38
2    Antigua e Barbuda         32              328
3  Antilhas Holandesas          -                -
4            Argentina        315              894

In [94]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2021&opcao=opt_06&subopcao=subopt_02')
exportacao_esp_2021 = leitura[5]
exportacao_esp_2021.head()

               PaÃ­ses Quantidade (Kg) Valor (US$)
0             Alemanha             142         265
1               Angola               -           -
2    Antigua e Barbuda              10          82
3  Antilhas Holandesas               -           -
4            Argentina               -           -

In [95]:
exportacao_esp_2021 = exportacao_esp_2021.rename(columns={"Quantidade (Kg)" : "2021 (Ltr)", "Valor (US$)" : "2021 Valor (USD)"})
exportacao_esp_2021.head()

               PaÃ­ses 2021 (Ltr) 2021 Valor (USD)
0             Alemanha        142              265
1               Angola          -                -
2    Antigua e Barbuda         10               82
3  Antilhas Holandesas          -                -
4            Argentina          -                -

In [96]:
exportacao_esp_total = pd.concat([exportacao_esp_2007, exportacao_esp_2008, exportacao_esp_2009, exportacao_esp_2010, exportacao_esp_2011, exportacao_esp_2012, exportacao_esp_2013,
                            exportacao_esp_2014, exportacao_esp_2015, exportacao_esp_2016, exportacao_esp_2017, exportacao_esp_2018, exportacao_esp_2019, exportacao_esp_2020, exportacao_esp_2021], axis=1)
exportacao_esp_total.head()

,PaÃ­ses,2007 (Ltr),2007 Valor (USD),PaÃ­ses,2008 (Ltr),2008 Valor (USD),PaÃ­ses,2009 (Ltr),2009 Valor (USD),PaÃ­ses,...,2018 Valor (USD),PaÃ­ses,2019 (Ltr),2019 Valor (USD),PaÃ­ses,2020 (Ltr),2020 Valor (USD),PaÃ­ses,2021 (Ltr),2021 Valor (USD)
0,Alemanha,3.547,10.192,Alemanha,5.423,20.928,Alemanha,6.648,29.018,Alemanha,...,21.373,Alemanha,1.003,5.466,Alemanha,2.388,14.767,Alemanha,142,265
1,Angola,6.293,26.252,Angola,2.244,10.581,Angola,11.393,33.664,Angola,...,280,Angola,1.007,3.615,Angola,24,38,Angola,-,-
2,Antigua e Barbuda,-,-,Antigua e Barbuda,-,-,Antigua e Barbuda,-,-,Antigua e Barbuda,...,-,Antigua e Barbuda,7,34,Antigua e Barbuda,32,328,Antigua e Barbuda,10,82
3,Antilhas Holandesas,-,-,Antilhas Holandesas,-,-,Antilhas Holandesas,180,1.660,Antilhas Holandesas,...,-,Antilhas Holandesas,-,-,Antilhas Holandesas,-,-,Antilhas Holandesas,-,-
4,Argentina,-,-,Argentina,-,-,Argentina,-,-,Argentina,...,17.243,Argentina,-,-,Argentina,315,894,Argentina,-,-

In [97]:
exportacao_esp_total.to_excel('exportacao_esp_total.xlsx', index=False)

# 1.4 Processamento de Uvas Tipo Viníferas de 2007 até 2021

In [98]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2007&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2007 = leitura[5]
proces_vinifera_2007.head()

            Cultivar Quantidade (Kg)
0             TINTAS      43.653.087
1  Alicante Bouschet       1.775.837
2           Ancelota       1.532.209
3             Aramon               -
4        Alfrocheiro          20.509

In [99]:
proces_vinifera_2007 = proces_vinifera_2007.rename(columns={"Quantidade (Kg)" : "2007 (Ltr)"})
proces_vinifera_2007.head()

            Cultivar  2007 (Ltr)
0             TINTAS  43.653.087
1  Alicante Bouschet   1.775.837
2           Ancelota   1.532.209
3             Aramon           -
4        Alfrocheiro      20.509

In [100]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2008&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2008 = leitura[5]
proces_vinifera_2008.head()

            Cultivar Quantidade (Kg)
0             TINTAS      48.852.574
1  Alicante Bouschet       1.588.326
2           Ancelota       1.709.883
3             Aramon               -
4        Alfrocheiro          25.310

In [101]:
proces_vinifera_2008 = proces_vinifera_2008.rename(columns={"Quantidade (Kg)" : "2008 (Ltr)"})
proces_vinifera_2008.head()

            Cultivar  2008 (Ltr)
0             TINTAS  48.852.574
1  Alicante Bouschet   1.588.326
2           Ancelota   1.709.883
3             Aramon           -
4        Alfrocheiro      25.310

In [102]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2009&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2009 = leitura[5]
proces_vinifera_2009.head()

            Cultivar Quantidade (Kg)
0             TINTAS      39.148.123
1  Alicante Bouschet       1.652.912
2           Ancelota       1.370.728
3             Aramon               -
4        Alfrocheiro          31.168

In [103]:
proces_vinifera_2009 = proces_vinifera_2009.rename(columns={"Quantidade (Kg)" : "2009 (Ltr)"})
proces_vinifera_2009.head()

            Cultivar  2009 (Ltr)
0             TINTAS  39.148.123
1  Alicante Bouschet   1.652.912
2           Ancelota   1.370.728
3             Aramon           -
4        Alfrocheiro      31.168

In [104]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2010&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2010 = leitura[5]
proces_vinifera_2010.head()

            Cultivar Quantidade (Kg)
0             TINTAS      23.633.831
1  Alicante Bouschet         849.263
2           Ancelota         853.718
3             Aramon               -
4        Alfrocheiro               -

In [105]:
proces_vinifera_2010 = proces_vinifera_2010.rename(columns={"Quantidade (Kg)" : "2010 (Ltr)"})
proces_vinifera_2010.head()

            Cultivar  2010 (Ltr)
0             TINTAS  23.633.831
1  Alicante Bouschet     849.263
2           Ancelota     853.718
3             Aramon           -
4        Alfrocheiro           -

In [106]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2011&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2011 = leitura[5]
proces_vinifera_2011.head()

            Cultivar Quantidade (Kg)
0             TINTAS      44.473.588
1  Alicante Bouschet       2.130.579
2           Ancelota       1.346.552
3             Aramon               -
4        Alfrocheiro           4.320

In [107]:
proces_vinifera_2011 = proces_vinifera_2011.rename(columns={"Quantidade (Kg)" : "2011 (Ltr)"})
proces_vinifera_2011.head()

            Cultivar  2011 (Ltr)
0             TINTAS  44.473.588
1  Alicante Bouschet   2.130.579
2           Ancelota   1.346.552
3             Aramon           -
4        Alfrocheiro       4.320

In [108]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2012&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2012 = leitura[5]
proces_vinifera_2012.head()

            Cultivar Quantidade (Kg)
0             TINTAS      39.303.313
1  Alicante Bouschet       2.098.824
2           Ancelota       1.274.677
3             Aramon               -
4        Alfrocheiro               -

In [109]:
proces_vinifera_2012 = proces_vinifera_2012.rename(columns={"Quantidade (Kg)" : "2012 (Ltr)"})
proces_vinifera_2012.head()

            Cultivar  2012 (Ltr)
0             TINTAS  39.303.313
1  Alicante Bouschet   2.098.824
2           Ancelota   1.274.677
3             Aramon           -
4        Alfrocheiro           -

In [110]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2013&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2013 = leitura[5]
proces_vinifera_2013.head()

            Cultivar Quantidade (Kg)
0             TINTAS      36.855.419
1  Alicante Bouschet       1.524.728
2           Ancelota       1.137.943
3             Aramon               -
4        Alfrocheiro               -

In [111]:
proces_vinifera_2013 = proces_vinifera_2013.rename(columns={"Quantidade (Kg)" : "2013 (Ltr)"})
proces_vinifera_2013.head()

            Cultivar  2013 (Ltr)
0             TINTAS  36.855.419
1  Alicante Bouschet   1.524.728
2           Ancelota   1.137.943
3             Aramon           -
4        Alfrocheiro           -

In [112]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2014&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2014 = leitura[5]
proces_vinifera_2014.head()

            Cultivar Quantidade (Kg)
0             TINTAS      29.810.706
1  Alicante Bouschet       1.456.305
2           Ancelota         937.844
3             Aramon               -
4        Alfrocheiro               -

In [113]:
proces_vinifera_2014 = proces_vinifera_2014.rename(columns={"Quantidade (Kg)" : "2014 (Ltr)"})
proces_vinifera_2014.head()

            Cultivar  2014 (Ltr)
0             TINTAS  29.810.706
1  Alicante Bouschet   1.456.305
2           Ancelota     937.844
3             Aramon           -
4        Alfrocheiro           -

In [114]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2015&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2015 = leitura[5]
proces_vinifera_2015.head()

            Cultivar Quantidade (Kg)
0             TINTAS      29.935.627
1  Alicante Bouschet       1.519.576
2           Ancelota         773.526
3             Aramon               -
4        Alfrocheiro               -

In [115]:
proces_vinifera_2015 = proces_vinifera_2015.rename(columns={"Quantidade (Kg)" : "2015 (Ltr)"})
proces_vinifera_2015.head()

            Cultivar  2015 (Ltr)
0             TINTAS  29.935.627
1  Alicante Bouschet   1.519.576
2           Ancelota     773.526
3             Aramon           -
4        Alfrocheiro           -

In [116]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2016&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2016 = leitura[5]
proces_vinifera_2016.head()

            Cultivar Quantidade (Kg)
0             TINTAS      13.370.866
1  Alicante Bouschet         908.841
2           Ancelota         179.028
3             Aramon               -
4        Alfrocheiro               -

In [117]:
proces_vinifera_2016 = proces_vinifera_2016.rename(columns={"Quantidade (Kg)" : "2016 (Ltr)"})
proces_vinifera_2016.head()

            Cultivar  2016 (Ltr)
0             TINTAS  13.370.866
1  Alicante Bouschet     908.841
2           Ancelota     179.028
3             Aramon           -
4        Alfrocheiro           -

In [118]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2017&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2017 = leitura[5]
proces_vinifera_2017.head()

            Cultivar Quantidade (Kg)
0             TINTAS      32.850.915
1  Alicante Bouschet       2.040.198
2           Ancelota         733.907
3             Aramon               -
4        Alfrocheiro               -

In [119]:
proces_vinifera_2017 = proces_vinifera_2017.rename(columns={"Quantidade (Kg)" : "2017 (Ltr)"})
proces_vinifera_2017.head()

            Cultivar  2017 (Ltr)
0             TINTAS  32.850.915
1  Alicante Bouschet   2.040.198
2           Ancelota     733.907
3             Aramon           -
4        Alfrocheiro           -

In [120]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2018&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2018 = leitura[5]
proces_vinifera_2018.head()

            Cultivar Quantidade (Kg)
0             TINTAS      26.868.514
1  Alicante Bouschet       2.103.844
2           Ancelota         492.106
3             Aramon               -
4        Alfrocheiro               -

In [121]:
proces_vinifera_2018 = proces_vinifera_2018.rename(columns={"Quantidade (Kg)" : "2018 (Ltr)"})
proces_vinifera_2018.head()

            Cultivar  2018 (Ltr)
0             TINTAS  26.868.514
1  Alicante Bouschet   2.103.844
2           Ancelota     492.106
3             Aramon           -
4        Alfrocheiro           -

In [122]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2019&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2019 = leitura[5]
proces_vinifera_2019.head()

            Cultivar Quantidade (Kg)
0             TINTAS              nd
1  Alicante Bouschet              nd
2           Ancelota              nd
3             Aramon              nd
4        Alfrocheiro              nd

In [123]:
proces_vinifera_2019 = proces_vinifera_2019.rename(columns={"Quantidade (Kg)" : "2019 (Ltr)"})
proces_vinifera_2019.head()

            Cultivar 2019 (Ltr)
0             TINTAS         nd
1  Alicante Bouschet         nd
2           Ancelota         nd
3             Aramon         nd
4        Alfrocheiro         nd

In [124]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2020&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2020 = leitura[5]
proces_vinifera_2020.head()

            Cultivar Quantidade (Kg)
0             TINTAS      28.003.505
1  Alicante Bouschet       2.272.985
2           Ancelota         481.402
3             Aramon               -
4        Alfrocheiro               -

In [125]:
proces_vinifera_2020 = proces_vinifera_2020.rename(columns={"Quantidade (Kg)" : "2020 (Ltr)"})
proces_vinifera_2020.head()

            Cultivar  2020 (Ltr)
0             TINTAS  28.003.505
1  Alicante Bouschet   2.272.985
2           Ancelota     481.402
3             Aramon           -
4        Alfrocheiro           -

In [126]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2021&opcao=opt_03&subopcao=subopt_01')
proces_vinifera_2021 = leitura[5]
proces_vinifera_2021.head()

            Cultivar Quantidade (Kg)
0             TINTAS      93.296.587
1  Alicante Bouschet         811.140
2           Ancelota       6.513.974
3             Aramon               -
4        Alfrocheiro               -

In [127]:
proces_vinifera_2021 = proces_vinifera_2021.rename(columns={"Quantidade (Kg)" : "2021 (Ltr)"})
proces_vinifera_2021.head()

            Cultivar  2021 (Ltr)
0             TINTAS  93.296.587
1  Alicante Bouschet     811.140
2           Ancelota   6.513.974
3             Aramon           -
4        Alfrocheiro           -

In [128]:
proces_vinifera_total = pd.concat([proces_vinifera_2007, proces_vinifera_2008, proces_vinifera_2009, proces_vinifera_2010, proces_vinifera_2011, proces_vinifera_2012, proces_vinifera_2013,
                            proces_vinifera_2014, proces_vinifera_2015, proces_vinifera_2016, proces_vinifera_2017, proces_vinifera_2018, proces_vinifera_2019, proces_vinifera_2020, proces_vinifera_2021], axis=1)
proces_vinifera_total.head()

,Cultivar,2007 (Ltr),Cultivar,2008 (Ltr),Cultivar,2009 (Ltr),Cultivar,2010 (Ltr),Cultivar,2011 (Ltr),...,Cultivar,2017 (Ltr),Cultivar,2018 (Ltr),Cultivar,2019 (Ltr),Cultivar,2020 (Ltr),Cultivar,2021 (Ltr)
0,TINTAS,43.653.087,TINTAS,48.852.574,TINTAS,39.148.123,TINTAS,23.633.831,TINTAS,44.473.588,...,TINTAS,32.850.915,TINTAS,26.868.514,TINTAS,nd,TINTAS,28.003.505,TINTAS,93.296.587
1,Alicante Bouschet,1.775.837,Alicante Bouschet,1.588.326,Alicante Bouschet,1.652.912,Alicante Bouschet,849.263,Alicante Bouschet,2.130.579,...,Alicante Bouschet,2.040.198,Alicante Bouschet,2.103.844,Alicante Bouschet,nd,Alicante Bouschet,2.272.985,Alicante Bouschet,811.140
2,Ancelota,1.532.209,Ancelota,1.709.883,Ancelota,1.370.728,Ancelota,853.718,Ancelota,1.346.552,...,Ancelota,733.907,Ancelota,492.106,Ancelota,nd,Ancelota,481.402,Ancelota,6.513.974
3,Aramon,-,Aramon,-,Aramon,-,Aramon,-,Aramon,-,...,Aramon,-,Aramon,-,Aramon,nd,Aramon,-,Aramon,-
4,Alfrocheiro,20.509,Alfrocheiro,25.310,Alfrocheiro,31.168,Alfrocheiro,-,Alfrocheiro,4.320,...,Alfrocheiro,-,Alfrocheiro,-,Alfrocheiro,nd,Alfrocheiro,-,Alfrocheiro,-

In [129]:
proces_vinifera_total.to_excel('proces_vinifera_total.xlsx', index=False)

# 1.5 Processamento de Uvas tipo Americana e Hibridas de 2007 até 2021

In [130]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2007&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2007 = leitura[5]
proces_ame_e_hib_2007.head()

      Cultivar Quantidade (Kg)
0       TINTAS     430.628.346
1     Bacarina          12.070
2       Bailey         236.139
3        Bordo      76.907.674
4  Bourdin (S)               -

In [131]:
proces_ame_e_hib_2007 = proces_ame_e_hib_2007.rename(columns={"Quantidade (Kg)" : "2007 (Ltr)"})
proces_ame_e_hib_2007.head()

      Cultivar   2007 (Ltr)
0       TINTAS  430.628.346
1     Bacarina       12.070
2       Bailey      236.139
3        Bordo   76.907.674
4  Bourdin (S)            -

In [132]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2008&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2008 = leitura[5]
proces_ame_e_hib_2008.head()

      Cultivar Quantidade (Kg)
0       TINTAS     466.504.230
1     Bacarina          16.780
2       Bailey         235.828
3        Bordo      97.644.667
4  Bourdin (S)               -

In [133]:
proces_ame_e_hib_2008 = proces_ame_e_hib_2008.rename(columns={"Quantidade (Kg)" : "2008 (Ltr)"})
proces_ame_e_hib_2008.head()

      Cultivar   2008 (Ltr)
0       TINTAS  466.504.230
1     Bacarina       16.780
2       Bailey      235.828
3        Bordo   97.644.667
4  Bourdin (S)            -

In [134]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2009&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2009 = leitura[5]
proces_ame_e_hib_2009.head()

      Cultivar Quantidade (Kg)
0       TINTAS     391.196.306
1     Bacarina          10.810
2       Bailey         559.815
3        Bordo      69.521.354
4  Bourdin (S)               -

In [135]:
proces_ame_e_hib_2009 = proces_ame_e_hib_2009.rename(columns={"Quantidade (Kg)" : "2009 (Ltr)"})
proces_ame_e_hib_2009.head()

      Cultivar   2009 (Ltr)
0       TINTAS  391.196.306
1     Bacarina       10.810
2       Bailey      559.815
3        Bordo   69.521.354
4  Bourdin (S)            -

In [136]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2010&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2010 = leitura[5]
proces_ame_e_hib_2010.head()

      Cultivar Quantidade (Kg)
0       TINTAS     409.514.092
1     Bacarina           7.850
2       Bailey         604.895
3        Bordo      89.066.377
4  Bourdin (S)          26.990

In [137]:
proces_ame_e_hib_2010 = proces_ame_e_hib_2010.rename(columns={"Quantidade (Kg)" : "2010 (Ltr)"})
proces_ame_e_hib_2010.head()

      Cultivar   2010 (Ltr)
0       TINTAS  409.514.092
1     Bacarina        7.850
2       Bailey      604.895
3        Bordo   89.066.377
4  Bourdin (S)       26.990

In [138]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2011&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2011 = leitura[5]
proces_ame_e_hib_2011.head()

      Cultivar Quantidade (Kg)
0       TINTAS     532.937.101
1     Bacarina          12.930
2       Bailey         769.140
3        Bordo     139.754.250
4  Bourdin (S)               -

In [139]:
proces_ame_e_hib_2011 = proces_ame_e_hib_2011.rename(columns={"Quantidade (Kg)" : "2011 (Ltr)"})
proces_ame_e_hib_2011.head()

      Cultivar   2011 (Ltr)
0       TINTAS  532.937.101
1     Bacarina       12.930
2       Bailey      769.140
3        Bordo  139.754.250
4  Bourdin (S)            -

In [140]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2012&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2012 = leitura[5]
proces_ame_e_hib_2012.head()

      Cultivar Quantidade (Kg)
0       TINTAS     527.332.818
1     Bacarina           3.820
2       Bailey         912.286
3        Bordo     127.378.006
4  Bourdin (S)               -

In [141]:
proces_ame_e_hib_2012 = proces_ame_e_hib_2012.rename(columns={"Quantidade (Kg)" : "2012 (Ltr)"})
proces_ame_e_hib_2012.head()

      Cultivar   2012 (Ltr)
0       TINTAS  527.332.818
1     Bacarina        3.820
2       Bailey      912.286
3        Bordo  127.378.006
4  Bourdin (S)            -

In [142]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2013&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2013 = leitura[5]
proces_ame_e_hib_2013.head()

      Cultivar Quantidade (Kg)
0       TINTAS     460.738.996
1     Bacarina           2.990
2       Bailey         756.000
3        Bordo     102.788.361
4  Bourdin (S)               -

In [143]:
proces_ame_e_hib_2013 = proces_ame_e_hib_2013.rename(columns={"Quantidade (Kg)" : "2013 (Ltr)"})
proces_ame_e_hib_2013.head()

      Cultivar   2013 (Ltr)
0       TINTAS  460.738.996
1     Bacarina        2.990
2       Bailey      756.000
3        Bordo  102.788.361
4  Bourdin (S)            -

In [144]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2014&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2014 = leitura[5]
proces_ame_e_hib_2014.head()

      Cultivar Quantidade (Kg)
0       TINTAS     471.555.903
1     Bacarina           3.900
2       Bailey         991.449
3        Bordo     113.008.320
4  Bourdin (S)               -

In [145]:
proces_ame_e_hib_2014 = proces_ame_e_hib_2014.rename(columns={"Quantidade (Kg)" : "2014 (Ltr)"})
proces_ame_e_hib_2014.head()

      Cultivar   2014 (Ltr)
0       TINTAS  471.555.903
1     Bacarina        3.900
2       Bailey      991.449
3        Bordo  113.008.320
4  Bourdin (S)            -

In [146]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2015&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2015 = leitura[5]
proces_ame_e_hib_2015.head()

      Cultivar Quantidade (Kg)
0       TINTAS     537.592.720
1     Bacarina               -
2       Bailey         963.159
3        Bordo     137.467.196
4  Bourdin (S)               -

In [147]:
proces_ame_e_hib_2015 = proces_ame_e_hib_2015.rename(columns={"Quantidade (Kg)" : "2015 (Ltr)"})
proces_ame_e_hib_2015.head()

      Cultivar   2015 (Ltr)
0       TINTAS  537.592.720
1     Bacarina            -
2       Bailey      963.159
3        Bordo  137.467.196
4  Bourdin (S)            -

In [148]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2016&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2016 = leitura[5]
proces_ame_e_hib_2016.head()

      Cultivar Quantidade (Kg)
0       TINTAS     235.356.261
1     Bacarina               -
2       Bailey         442.784
3        Bordo      60.976.531
4  Bourdin (S)               -

In [149]:
proces_ame_e_hib_2016 = proces_ame_e_hib_2016.rename(columns={"Quantidade (Kg)" : "2016 (Ltr)"})
proces_ame_e_hib_2016.head()

      Cultivar   2016 (Ltr)
0       TINTAS  235.356.261
1     Bacarina            -
2       Bailey      442.784
3        Bordo   60.976.531
4  Bourdin (S)            -

In [150]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2017&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2017 = leitura[5]
proces_ame_e_hib_2017.head()

      Cultivar Quantidade (Kg)
0       TINTAS     600.605.876
1     Bacarina               -
2       Bailey       1.370.092
3        Bordo     160.146.475
4  Bourdin (S)               -

In [151]:
proces_ame_e_hib_2017 = proces_ame_e_hib_2017.rename(columns={"Quantidade (Kg)" : "2017 (Ltr)"})
proces_ame_e_hib_2017.head()

      Cultivar   2017 (Ltr)
0       TINTAS  600.605.876
1     Bacarina            -
2       Bailey    1.370.092
3        Bordo  160.146.475
4  Bourdin (S)            -

In [152]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2018&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2018 = leitura[5]
proces_ame_e_hib_2018.head()

      Cultivar Quantidade (Kg)
0       TINTAS     519.506.589
1     Bacarina               -
2       Bailey         539.742
3        Bordo     158.405.972
4  Bourdin (S)               -

In [153]:
proces_ame_e_hib_2018 = proces_ame_e_hib_2018.rename(columns={"Quantidade (Kg)" : "2018 (Ltr)"})
proces_ame_e_hib_2018.head()

      Cultivar   2018 (Ltr)
0       TINTAS  519.506.589
1     Bacarina            -
2       Bailey      539.742
3        Bordo  158.405.972
4  Bourdin (S)            -

In [154]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2019&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2019 = leitura[5]
proces_ame_e_hib_2019.head()

      Cultivar Quantidade (Kg)
0       TINTAS              nd
1     Bacarina              nd
2       Bailey              nd
3        Bordo              nd
4  Bourdin (S)              nd

In [155]:
proces_ame_e_hib_2019 = proces_ame_e_hib_2019.rename(columns={"Quantidade (Kg)" : "2019 (Ltr)"})
proces_ame_e_hib_2019.head()

      Cultivar 2019 (Ltr)
0       TINTAS         nd
1     Bacarina         nd
2       Bailey         nd
3        Bordo         nd
4  Bourdin (S)         nd

In [156]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2020&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2020 = leitura[5]
proces_ame_e_hib_2020.head()

      Cultivar Quantidade (Kg)
0       TINTAS     376.136.313
1     Bacarina               -
2       Bailey         534.981
3        Bordo     129.978.861
4  Bourdin (S)               -

In [157]:
proces_ame_e_hib_2020 = proces_ame_e_hib_2020.rename(columns={"Quantidade (Kg)" : "2020 (Ltr)"})
proces_ame_e_hib_2020.head()

      Cultivar   2020 (Ltr)
0       TINTAS  376.136.313
1     Bacarina            -
2       Bailey      534.981
3        Bordo  129.978.861
4  Bourdin (S)            -

In [158]:
leitura = pd.read_html('http://vitibrasil.cnpuv.embrapa.br/index.php?ano=2021&opcao=opt_03&subopcao=subopt_02')
proces_ame_e_hib_2021 = leitura[5]
proces_ame_e_hib_2021.head()

      Cultivar Quantidade (Kg)
0       TINTAS     394.224.543
1     Bacarina               -
2       Bailey       4.092.669
3        Bordo     117.655.879
4  Bourdin (S)               -

In [159]:
proces_ame_e_hib_2021 = proces_ame_e_hib_2021.rename(columns={"Quantidade (Kg)" : "2021 (Ltr)"})
proces_ame_e_hib_2021.head()

      Cultivar   2021 (Ltr)
0       TINTAS  394.224.543
1     Bacarina            -
2       Bailey    4.092.669
3        Bordo  117.655.879
4  Bourdin (S)            -

In [160]:
proces_ame_e_hib_total = pd.concat([proces_ame_e_hib_2007, proces_ame_e_hib_2008, proces_ame_e_hib_2009, proces_ame_e_hib_2010, proces_ame_e_hib_2011, proces_ame_e_hib_2012, proces_ame_e_hib_2013,
                            proces_ame_e_hib_2014, proces_ame_e_hib_2015, proces_ame_e_hib_2016, proces_ame_e_hib_2017, proces_ame_e_hib_2018, proces_ame_e_hib_2019, proces_ame_e_hib_2020, proces_ame_e_hib_2021], axis=1)
proces_ame_e_hib_total.head()

,Cultivar,2007 (Ltr),Cultivar,2008 (Ltr),Cultivar,2009 (Ltr),Cultivar,2010 (Ltr),Cultivar,2011 (Ltr),...,Cultivar,2017 (Ltr),Cultivar,2018 (Ltr),Cultivar,2019 (Ltr),Cultivar,2020 (Ltr),Cultivar,2021 (Ltr)
0,TINTAS,430.628.346,TINTAS,466.504.230,TINTAS,391.196.306,TINTAS,409.514.092,TINTAS,532.937.101,...,TINTAS,600.605.876,TINTAS,519.506.589,TINTAS,nd,TINTAS,376.136.313,TINTAS,394.224.543
1,Bacarina,12.070,Bacarina,16.780,Bacarina,10.810,Bacarina,7.850,Bacarina,12.930,...,Bacarina,-,Bacarina,-,Bacarina,nd,Bacarina,-,Bacarina,-
2,Bailey,236.139,Bailey,235.828,Bailey,559.815,Bailey,604.895,Bailey,769.140,...,Bailey,1.370.092,Bailey,539.742,Bailey,nd,Bailey,534.981,Bailey,4.092.669
3,Bordo,76.907.674,Bordo,97.644.667,Bordo,69.521.354,Bordo,89.066.377,Bordo,139.754.250,...,Bordo,160.146.475,Bordo,158.405.972,Bordo,nd,Bordo,129.978.861,Bordo,117.655.879
4,Bourdin (S),-,Bourdin (S),-,Bourdin (S),-,Bourdin (S),26.990,Bourdin (S),-,...,Bourdin (S),-,Bourdin (S),-,Bourdin (S),nd,Bourdin (S),-,Bourdin (S),-

In [161]:
proces_ame_e_hib_total.to_excel('proces_ame_e_hib_total.xlsx', index=False)

#1.6 Criação de coluna com preço médio por Litro

In [163]:
exportacao_total_vinho = pd.read_excel("/content/exportacao_total.xlsx")
exportacao_total_vinho.head()

,PaÃ­ses,2007 (Ltr),2007 Valor (USD),2008 (Ltr),2008 Valor (USD),2009 (Ltr),2009 Valor (USD),2010 (Ltr),2010 Valor (USD),2011 (Ltr),...,2017 (Ltr),2017 Valor (USD),2018 (Ltr),2018 Valor (USD),2019 (Ltr),2019 Valor (USD),2020 (Ltr),2020 Valor (USD),2021 (Ltr),2021 Valor (USD)
0,AfeganistÃ£o,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,11,46
1,Ãfrica do Sul,-,-,-,-,-,-,-,-,-,...,-,-,-,-,26,95,4,21,-,-
2,"Alemanha, RepÃºblica DemocrÃ¡tica",119.512,238.052,265.742,429.970,225.086,393.482,27.715,138.666,36.070,...,15.467,87.702,10.794,45.382,3.660,25.467,6.261,32.605,2.698,6.741
3,Angola,25.931,49.753,25.721,71.083,54.786,84.235,33.557,189.891,13.889,...,10.170,61.680,477,709,345,1.065,-,-,-,-
4,Anguilla,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [171]:
exportacao_total_vinho = exportacao_total_vinho.replace("-", 0)
exportacao_total_vinho.head()

,PaÃ­ses,2007 (Ltr),2007 Valor (USD),2008 (Ltr),2008 Valor (USD),2009 (Ltr),2009 Valor (USD),2010 (Ltr),2010 Valor (USD),2011 (Ltr),...,2017 (Ltr),2017 Valor (USD),2018 (Ltr),2018 Valor (USD),2019 (Ltr),2019 Valor (USD),2020 (Ltr),2020 Valor (USD),2021 (Ltr),2021 Valor (USD)
0,AfeganistÃ£o,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,46
1,Ãfrica do Sul,0,0,0,0,0,0,0,0,0,...,0,0,0,0,26,95,4,21,0,0
2,"Alemanha, RepÃºblica DemocrÃ¡tica",119.512,238.052,265.742,429.970,225.086,393.482,27.715,138.666,36.070,...,15.467,87.702,10.794,45.382,3.660,25.467,6.261,32.605,2.698,6.741
3,Angola,25.931,49.753,25.721,71.083,54.786,84.235,33.557,189.891,13.889,...,10.170,61.680,477,709,345,1.065,0,0,0,0
4,Anguilla,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [175]:
import numpy as np

In [191]:
def safe_division(x, y):
    if y != 0:
        return x / y
    else:
        return 0

for year in range(2007, 2021):
    valor1_col = f"{year} (Ltr)"
    valor2_col = f"{year} Valor (USD)"
    media_ = f'media_{year}'
    exportacao_total_vinho.loc[:, valor1_col] = pd.to_numeric(exportacao_total_vinho[valor1_col], errors='coerce')
    exportacao_total_vinho.loc[:, valor2_col] = pd.to_numeric(exportacao_total_vinho[valor2_col], errors='coerce')
    exportacao_total_vinho.loc[:, media_] = exportacao_total_vinho.apply(lambda row: safe_division(row[valor2_col], row[valor1_col]), axis=1)

# Reorganizando as colunas na ordem desejada
columns_ordered = []
for year in range(2007, 2021):
    valor1_col = f"{year} (Ltr)"
    valor2_col = f"{year} Valor (USD)"
    media_ = f'media_{year}'
    columns_ordered.extend([valor1_col, valor2_col, media_])

exportacao_total_vinho = exportacao_total_vinho[columns_ordered]
exportacao_total_vinho.fillna(0, inplace=True)

exportacao_total_vinho.head()

,2007 (Ltr),2007 Valor (USD),media_2007,2008 (Ltr),2008 Valor (USD),media_2008,2009 (Ltr),2009 Valor (USD),media_2009,2010 (Ltr),...,media_2017,2018 (Ltr),2018 Valor (USD),media_2018,2019 (Ltr),2019 Valor (USD),media_2019,2020 (Ltr),2020 Valor (USD),media_2020
0,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,...,0.000000,0.000,0.000,0.000000,0.00,0.000,0.000000,0.000,0.000,0.000000
1,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,...,0.000000,0.000,0.000,0.000000,26.00,95.000,3.653846,4.000,21.000,5.250000
2,119.512,238.052,1.991867,265.742,429.970,1.617998,225.086,393.482,1.748141,27.715,...,5.670266,10.794,45.382,4.204373,3.66,25.467,6.958197,6.261,32.605,5.207635
3,25.931,49.753,1.918669,25.721,71.083,2.763617,54.786,84.235,1.537528,33.557,...,6.064897,477.000,709.000,1.486373,345.00,1.065,0.003087,0.000,0.000,0.000000
4,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,0.000,0.000000,0.000,...,0.000000,0.000,0.000,0.000000,0.00,0.000,0.000000,0.000,0.000,0.000000